[2016-10-17 20:56] Gugudesaster opened #3 "Progress"
Hey, thanks dir the work on this. Would you recommend to use your Old package or do you think this One coukd be ready soon?
I don't mean by any means to Stress, but Just out of interest.
Starting a new Project in about a month and I am thinking about using relay.

[2016-10-19 19:22] chrissm79 commented on #3
Hi @Gugudesaster,

At this point in time Lighthouse has more testing than my other package, but the API could change at any time before the v1.0 release. So `Lighthouse` is more stable than my other package, but you won't have to worry about changes with `laravel-graphql-relay`.

It's been a bit difficult to work this in with my daily job, but I do plan on supporting this package for the foreseeab

[2016-10-19 19:27] Gugudesaster commented on #3
Hi @chrissm79 ,
thx 4 answering.
Sounds great. I don't mind a few changes.
Do I use it similar to laravel-graphql-relay?
Can I use the documentation there as basis or do you have a small example I can borrow?

thank you so much for the work you put in this awesome package.

[2016-10-19 19:32] alexwhb commented on #3
@Gugudesaster You should look at the unite tests for documentation. I finished building a full Laravel integration with Lighthouse with the use of the tests as good examples of how things are implemented. There are also a good amount of similarities between how this project is structured and the laravel-graphql-relay project, so in some cases those docs are pretty useful.

[2016-10-19 19:36] chrissm79 commented on #3
Thanks @alexwhb!

@Gugudesaster, the tests will indeed be the best way to determine how to get up and running w/ Lighthouse. `laravel-graphql-relay` is similar, but looking through the tests will give you the most insight.

v1.0 of Lighthouse will include full docs

[2016-10-20 07:26] Gugudesaster commented on #3
Perfect. I'll look into it, thanks. :)

[2016-11-07 23:36] chrissm79 commented on #3
@Gugudesaster Just a quick update... I completed probably my largest hurdle which was creating a DataLoader to help prevent a N+1 issue when working with nested connections. I'm going to test it out on a project I'm working on and if all goes well I should start working on documentation this week. Once the docs are done I'll tag and release v1.0!

[2016-12-08 12:06] darrenmerrett commented on #3
Hi, how are you getting on with the docs?

[2016-12-21 23:46] chrissm79 commented on #3
@Gugudesaster @darrenmerrett @alexwhb I apologize for the delay, but I didn't want to respond until I actually had something to show. I started the [documentation](https://chrissm79.gitbooks.io/lighthouse/content/) for this package. I intend to include a walkthrough that will take you from zero to a fully functional GraphQL server that should help explain how to get your project up and running.

I

[2017-01-05 14:01] hailwood commented on #3
Hey @chrissm79,

Hijacking this issue a little as I don't want to open another for just casual conversation about this package :)

This seems really interesting. I'm liking that you're keeping relay support at the forefront but not restricting the package to relay compliance only.

Are you able to elaborate a bit on the DataLoaders functionality as that seems to be a major feature here? I've looke

[2017-01-05 22:51] chrissm79 commented on #3
Hey @hailwood

You're dead on, it's a pretty cool feature and deals with the biggest problem I had with GraphQL. When querying nested lists or connections in GraphQL you can run into some pretty nasty N+1 issues. Check out [this page](https://chrissm79.gitbooks.io/lighthouse/content/637-querying-relationships.html) from the docs to see an example.

The DataLoader in this package uses graphql-php [

[2017-01-09 09:38] hailwood opened #7 "Document alternate syntax if `schema()` function unavailable."
If something has already registered a function called `schema()` ours won't be registered so we need to know the alternative syntax.

[code]

Possibly also need something in there about this format instead of the namespaces as well since IDEs can understand what we're on about in this form

[code]

Or if you prefer the short syntax this works too

[code]

[2017-01-09 10:01] hailwood opened #9 "Read `name` from object in schema"
On our objects (Types/Mutations/Queries) we have a name key in the `$attributes`.

I'm proposing that if we call `GraphQL::schema()->type($namespace)` (or any of the other related functions) then we instantiate an instance of the passed class name and use `$instance->name` as the name.

Likewise with my open pull request it would be e.g.

[code]

I've opened this as an issue rather than a pull req

[2017-01-09 12:57] darrenmerrett commented on #9
I agree, no point declaring the name twice.

[2017-01-10 14:10] chrissm79 commented on #9
I believe the original thought behind it was that the name in the schema file would be the name of the field, while the name in the class would be the name of the GraphQL Type.

However, I do agree that automating this would make the schema file much cleaner. We could make the name optional in the schema (like your example) and default to the (camel-cased) name from the class instance. I actually

[2017-01-10 20:51] alexwhb commented on #3
@chrissm79 so I recently was doing a bit of searching around for possible solutions to the graphQL subscription system... I wanted to find a way to do it without using Redis. I came across this: https://github.com/tlaverdure/laravel-echo-server, which is a high level abstraction of the PHP sockets implementation. I've not yet looked into how this would work with relay, but it seemed promising. Let

[2017-01-10 21:22] chrissm79 commented on #3
@alexwhb This does look pretty interesting. I'll need to dig into it after I get a few small items flushed out, but it certainly seems like a possible solution. Ideally, I would like to have a built in solution (such as laravel-echo-server) as well as a 3rd party (such as Pusher). That way if someone feels comfortable running a websocket server themselves (and at no additional cost) it's easy to d

[2017-01-10 21:27] alexwhb commented on #3
@chrissm79 excellent! I'll check it out. Ya ideally it wold probably be a good idea to abstract that implementation with an interface, so you can use what ever implementation suits your needs best, but it's nice to know that it's possible to do an _in PHP solution_. I'll try to dig into it a bit more when I get some time.

[2017-01-29 11:05] hailwood opened #10 "How to query top level collections?"
Hey @chrissm79,

Any chance you could provide an example of how to query top level collections?

I.e. We've got examples in the docs of how to get all jobs a user is connected to, but how can we write a query that returns a collection that is not a connection

e.g. assuming we have a user type defined simply returning all users in the system, or we have a job type and returning all jobs in the sys

[2017-01-29 13:21] chrissm79 commented on #10
Hey @hailwood, great question!

`graphql-php` (which is what this package is built on) has a `listOf` type that can be used when you just want to return a list of types. A `connection` is better suited for when you want to do some pagination.

So if you wanted to have a **list** of users at the top level of your query you would just need to create a query which has a return type of a list of users

[2017-01-29 19:07] hailwood commented on #10
Aha! TThanks @chrissm79,

 I was missing,

[code]
I was trying

[code]

which obviously doesn't work :+1: .

One last part of is how would we paginate these (I'm mostly interested in a relay style approach, but both relay and non-relay would probably be useful for others).

Cheers,
Matt

[2017-02-05 15:13] Zn4rK opened #11 "Contributing"
Hi!

Great work on Lighthouse so far! I've found a few things that I would like to submit PR's for.

I tried to clone the repository and running `composer install` to get setup but got greeted with a bunch of errors (Wrong phpunit version, ModelFactory not working, redeclaring of classes).
I'm probably doing something wrong.

Do I need a Laravel installation to contribute? Or should the tests work

[2017-02-05 16:10] Zn4rK commented on #11
Okay,

After digging into this some more, it seems like it's a combination of things.

1. Composer fetches updated versions for Laravel and Orchestra/workbench.
2. Composer does not fetch the correct phpunit that's required by Orchestra/workbench
3. PHPUnit's TestLoader assumes that all files that ends on .php is a test. (the suffix should be removed)
4. We have a duplicated file:

https://github.

[2017-02-06 00:16] hailwood commented on #10
Alrighty, so after running through learnrelay.org I've managed to answer my own question. tl;dr You don't. That's not how relay works :)

[2017-02-06 00:16] #10 closed

[2017-02-06 13:36] chrissm79 commented on #10
Hey @hailwood,

Sorry for the delayed response! You are correct that you don't necessarily paginate a list alone, but you can create a new `Type` to get it work and w/ Lighthouse you have two options.

### Regular Pagination

First, you can create your own `Type` that has the fields required for pagination (such as page, total, etc) plus the `listOf` containing a list of the GraphQL type you want

[2017-02-06 14:13] #11 closed

[2017-02-06 23:37] Zn4rK opened #13 "Remove Fluent"
This is an opinionated issue, but I would like to test the waters.

I really like the Service Container and the dependency injection Laravel offers. Lighthouse currently resolves classes that inherits from either `GraphQLField` and `GraphQLType` via the service container, but both of these classes extends `Illuminate\Support\Fluent`, which in turn takes the argument $attributes in the constructor.

[2017-02-06 23:55] Zn4rK opened #14 "Automatically resolve Connections"
If I create a new connection and providing a [FQC](http://php.net/manual/en/migration55.new-features.php#migration55.new-features.class-name), It would be awesome if the `ConnectionRegistrar` checked if it was a class (class_exists) and tried to resolve it via the service container, before the instance is created.

[code]

It would make it possible for us to utilize the Dependency Injection in the

[2017-02-08 14:40] chrissm79 commented on #14
@Zn4rK Originally, I had the connection registrar take in the name of the connection you wanted to create (i.e., `UserTasksConnection`). But after some refactoring, I passed the instance instead and just performed a `instanceof` check in the [ConnectionRegistrar](https://github.com/nuwave/lighthouse/blob/16ab1427e0d840d4e57243f514d7b013fc469b55/src/Schema/Registrars/ConnectionRegistrar.php#L80).

[2017-02-08 14:44] chrissm79 commented on #13
@Zn4rK Very much agree with this! I used `laravel-graphql-relay` as a base for this package and just brought over the Fluent `GraphQLField` but I agree that this wasn't necessary.

If you would like to create a PR for this I'd be more than happy to merge it in! Otherwise, I will put this on my list. Thanks for the feedback!

[2017-02-12 17:45] Zn4rK commented on #14
Sorry, I thought I was going to have more time this week. I think the ConnectionRegistrar is in need of a refactor generally.

I won't have time to look at this specific issue the next week, so If you manage to squeeze it in before me, go ahead. I'll keep you updated if I find the time.

[2017-02-12 17:46] Zn4rK commented on #13
If it is as easy as removing the extends-call and the parent call in the other constructors (which it looks like), I could probably find time to send a PR this week.

[2017-02-12 18:24] Zn4rK opened #15 "Add Query as a Query"
So this is not really an issue, but I think it's worth discussing and I want it documented so that other people might find a use for it.

The background to this discussion is [this issue](https://github.com/facebook/relay/issues/112). The current version of Relay (0.10) doesn't support root fields/queries to be arrays. In the linked issue above they suggest a workaround until Relay 2 is released.

[2017-03-02 02:47] hosmelq opened #16 "Relay mutation to add edge to connection"
This is more a question than a issue.

I have the following mutation. I want to return the edge from the server to added it to the connection, but i don't know how to returned.

Thanks.

*CreateComment.js*

[code]

*CreateCommentMutation.php*
[code]

[2017-03-07 14:43] chrissm79 commented on #16
Hey @hosmelq sorry for the delay!

So the only part your missing is the Edge in your mutation. First, use Lighthouse's edge command to create a new Edge class:

[code]

Now update the new class to fit your mutation requirements:

[code]

And finally, use that edge in your mutation:

[code]

That's it! Let me know if you run into any issues here though

[2017-03-07 15:10] hosmelq commented on #16
Thank you for your reply. I got the following error.

`Schema must contain unique named types but contains multiple types named "CommentEdge".`

I have a CommentConnection that is used in `GameType`, if i comment the connection the error disapears.

[2017-03-07 16:25] chrissm79 commented on #16
@hosmelq it seems that you may be using `CommentEdge` somewhere else in your code (or there is an issue w/ Lighthouse). Are you using this edge more than once or have you manually created a type somewhere and named it `CommentEdge`?

[2017-03-07 16:32] hosmelq commented on #16
@chrissm79 I'm only using it once and i don't have a `CommentEdge` type.

This is the connection in `GameType`.

[code]

I think the call to `connection` is registering a `CommentEdge `.

[2017-03-07 17:34] chrissm79 commented on #16
That's likely what it is (the connection generating a `CommentEdge`), so I generally prepend the name of the parent on my edges. In your case it would be `gameComments`, so adjust the `name` function your edge class like so and see if it resolves the issue:

[code]

Otherwise you could manually create an edge:

[code]

[2017-03-22 10:25] hailwood opened #17 "DataLoaders, DataFetchers, and non Relay?"
I'll make this one quick!

1. Can we use the DataLoaders/DataFetchers without Relay?
2. Any idea on time for documentation on these features? I've noticed you've moved into subscriptions but gitbook still doesn't have these documented. I tried looking in the tests but couldn't really understand it.
3. Do you have an example project? Normally when devs work on things like this they'll have like a t

[2017-03-22 10:45] hailwood opened #18 "Do we need to revisit the pagination cursors?"
I think we need to revisit the pagination and connections as a whole in lighthouse, there's been a few changes in Laravel 5.4 that makes things easier, such as the Relation becoming macroable so we're able to add the `toConnection()` macro to that as well.

Additionally there is now a new method on Eloquent - `forPageAfterId` which should work well as it's effectively cursor pagination in a nutshe

[2017-03-25 17:56] #15 closed

[2017-04-05 20:12] chrissm79 commented on #18
@hailwood Love this! Didn't even notice the new `forPageAfterId` but it sounds like a pretty solid drop in replacement. I also really like the encode/decode functionality you're proposing here... so if someone wanted to base it off a different column (such as a timestamp) they could, we would just need to allow them to override the column name in their connection class.

I'll try to add in this fu

[2017-04-05 20:19] chrissm79 commented on #17
1. Neither of these rely on Relay (I'm using them w/ Apollo)
2. I have moved onto Subscriptions (actually have it working w/ Apollo just need to optimize it). I'll leave another comment here with some details when I can set aside a bit of time and hopefully answer any questions you have!
3.This is a fantastic idea! I'll create a project and and push it to a public repo then try and knock out a vid

[2017-04-06 00:12] chrissm79 commented on #18
@hailwood Actually, I don't think `forPageAfterId` would necessarily work. Primarily because it's not a `LengthAwarePaginator` so we don't have things like the total count. It also looks like we might run into issues when trying to sort `desc` or if we have a sort on a different field coming from an argument in the resolver. I'll look into the issues you're experiencing and see if I can find out w

[2017-04-11 13:17] chrissm79 commented on #17
@hailwood

[Video Walkthrough](https://www.youtube.com/watch?v=prVL1m4pYik&t=5s)
[Example Repo](https://github.com/nuwave/lighthouse-example)

I'll either create a video explaining the DataLoader or add a description here when I can!

[2017-04-28 14:55] Gugudesaster opened #52 "Relay Modern"
Hey guys, I love that lucasmichot and chris are doing so much work on the package right now.
Thanks guys.

Since Relay Modern is coming out soon, I wanted to ask if you plan on making it work with it or if it maybe works with it already?

I am going to start a new project and I'm not sure if I should start it with laravel because I would love to start with Relay modern right away.
What do you guys

[2017-05-02 19:22] hosmelq commented on #16
Thanks!

[2017-05-02 19:22] #16 closed

[2017-05-03 00:30] joshmanders commented on #17
@chrissm79 Great video and project. I'm curious on a video about using this without Relay, and docs about DataLoaders!

[2017-05-10 02:41] joshmanders opened #53 "[FEATURE REQUEST]: Add message support for validation."
Be cool if we could have a `messages` array that can go with `rules` on mutation args so we can define what we want the message to be for that validation.

[2017-05-18 13:38] alfaproject opened #54 "Lumen support"
This is exactly the kind of library that should be used on a small framework. All you really need is some routing and GraphQL magic.

With that said, is there any particular reason you are using Laravel only features like the router?

[2017-05-21 21:53] Gugudesaster commented on #52
Relay Modern is out.
https://github.com/facebook/relay/releases/tag/v1.0.0

Just a short info would be great. I will have to look for something else otherwise.
Thanks guys.

[2017-05-29 19:00] selfeky opened #57 "Edge command runs out of memory"
Thank you for the amazing package :)

I have an issue with the edge command, not sure if its related to my env.

php artisan lighthouse:edge Competition

The command runs out of memory (1024 MB)

PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 45056 bytes) in /Users/sherief/Development/git/dice/backend/vendor/laravel/framework/src/Illuminate/Console/Generator

[2017-06-07 14:12] selfeky opened #58 "PageInfo returns incorrect cursor"
Hey everyone,

I was implementing relay modern paginated container when I came across and pagination bug or a misconfiguration from my side.

`
fragment Tournaments_diceviewer on Dice {
    competitions(after: null, orderby: "id", hasLeagueTableOnly: true) {
        pageInfo {
              count
              total
              currentPage
              hasNextPage
              endCursor

[2017-06-07 23:01] hailwood commented on #58
Related to #18

[2017-06-12 12:02] hailwood commented on #17
Hey @chrissm79 ,

I'm a while behind in the replies but great video; Cleared a few things up for sure!
I'm really curious about the DataLoaders now so would love to have a new branch on the example repo that uses these.

As a side note; The reason I've been so late in replying is because I've been trying out various graphql implementations in Node and honestly; for usability none of the implementa

[2017-06-13 18:32] chrissm79 commented on #17
@hailwood Thanks, I appreciate it! I'll try to create a new repo (or just branch off the existing example) and get some data loaders in there for people to take a look at.

Side Note: I tried out Node as well and kinda fell in love with [graphql-sequelize](https://github.com/mickhansen/graphql-sequelize). Although it doesn't have a generator, I don't need to create many resolvers (if any). I might

[2017-06-13 18:54] chrissm79 commented on #17
@joshmanders Thanks for the feedback! I'll create a repo first that shows how to use the Dataloaders, then I'll try to knock out a video on a weekend to go a bit in depth with it.

I'm not the happiest w/ the API as it currently stands but it does work. The problem I had was that the original implementation (which is based off of Facebook's [Dataloader](https://github.com/facebook/dataloader)) doe

[2017-06-14 07:09] hailwood commented on #17
I've never seen that framework before; It looks great.

graphql-sequelize looked pretty good when I look into it; but I hate sequelize with a passion; I also looked into knex/bookshelfjs/objection.js but they just felt... messy?

I'm still wrapping my head around the dataloaders to be honest which is part of the reason I'm so interested to see how you do it here.

[2017-06-14 09:55] hailwood opened #59 "RelayConnection::scopeGetConnection breaks seeders."
### What is the issue?

The scope registered at
[**nuwave/lighthouse:**/src/Support/Traits/RelayConnection.php#L18](https://github.com/nuwave/lighthouse/blob/master/src/Support/Traits/RelayConnection.php#L18)
conflicts with a built in laravel method at
[**laravel/framework:**/src/Illuminate/Database/Eloquent/Model.php#L1005](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Database/Elo

[2017-06-15 23:22] hailwood commented on #59
If we can get the names approved for the scopes I'll fire this through as a PR;

Also if we're updating the name what do you think about updating the default macro name to something in line with these as well (it won't affect existing projects since their config would already be published).

[2017-06-20 07:39] sasokovacic opened #61 "Documentation is missing important info in the walkthrough section"
Hi,

I went over Walkthrough section in the documentation and couldn't continue after the subsection 6.3.5 (Connections) because critical information is missing about adding jobs field to the UserType... I found out about this after watching youtube tutorial....

https://chrissm79.gitbooks.io/lighthouse/content/635-adding-a-connection.html

[2017-06-20 08:51] Gugudesaster commented on #17
The Framework looks very interesting indeed. I'm just interested @chrissm79 : Are you actually just using AdonisJS now? And what does that mean for lighthouse?
We are planning a big project right now and want to make sure we bet on the right horse.
folklore/laravel-graphql has Relay support now and that would be a good option too, yours is better documented and has the better style though.

I see

[2017-08-12 20:08] SUPERUSER41 opened #62 "Error running graphql endpoint"
Okay first off im running a windows machine. I installed this library for graphiql-ui https://github.com/noh4ck/laravel-graphiql however when i got to the route localhost/graphiql-ui i get an error in the window where the queries should run. Am i doing something wrong? How would i configure lighthouse to work with that library?
**Here is the error**
![image](https://user-images.githubusercontent.c

[2017-08-12 21:20] #62 closed

[2017-08-12 21:22] SUPERUSER41 opened #63 "SyntaxError: Unexpected token < in JSON at position 0"
whenever i open the graphiql client and pass in the route im getting a 500 internal server error
![image](https://user-images.githubusercontent.com/27390890/29244300-64656476-7f7a-11e7-825f-82a8fa0217d5.png)

[2017-08-14 04:13] hailwood commented on #63
@SUPERUSER41 as shown your graphql endpoint is returning a 500 error.
That error would be HTML formatted whilst graphiql expects json and of course the first part of an html response is `<html>` so you're receiving the error as shown above.

Check your error logs for the actual error.

[2017-12-18 17:10] irakliOrbis commented on #59
I have the same error. How do you fix this?

[2018-02-10 17:26] kikoseijo opened #64 "Update at feb 2018"
Hi there,

How we getting on this project, seems its been left aside from here.

Looking for Relay, as the [Folkloreatelier/laravel-graphql](https://github.com/Folkloreatelier/laravel-graphql) seems very active and I have been using it, Relay does not seem to be their focus.

I know that some of you are moving to Typescript and the lovely async functions, probably looking for the subscriptions, bu

[2018-02-10 23:02] hailwood commented on #64
As far as I am aware, the maintainer has moved to adonisJS and is no longer maintaining this package.

[2018-02-11 11:44] kikoseijo commented on #64
Thank you @hailwood, I know you are working with the one mentioned above.

What are the features this package its missing? I know subscriptions are not posible due to PHP limitations.

@chrissm79 you think this package can go live? you nearly finished a super cool Documentation page. Whats missing? did you focus more on Relay?

Best regards,
Kiko Seijo.

[2018-02-11 20:14] hailwood commented on #64
Actually @chrissm79 was working on subscriptions and I believe got them working using a 3rd party socket provider for the realtime needs.

In the end I'm not sure this package is missing anything, but there were a few issues that needed to be resolved, I moved away from the GraphQL packages for a while, and when I came back this one was unmaintained as such I went with the most popular option.

If

[2018-02-11 22:10] kikoseijo commented on #64
Right now, using my forked version of laravel-graphql, I just upgraded the relay branch to be even with the latest commits.

Just trying to settle with the right package before take it to production, thats the reason keep asking about this and that. ;ost people going with Apollo and Graphcool sort of wrappers and not many interested in a Pure Relay perspective.

This is repo im using: (its relay b

[2018-02-15 19:01] chrissm79 commented on #64
@kikoseijo Thanks for your interest in the package! And my apologizes for not being active in it's development lately.

Back when I started development I was working on a project that relied on GraphQL to power it's mobile app. Since then, every additional project has been written in NodeJS, and therefore my focus had to shift to support the products I was currently working on.

I have a new proje

[2018-02-15 21:11] kikoseijo commented on #64
Thanks for the update, its much appreciated.
Happy coding!

[2018-02-15 21:11] #64 closed

[2018-03-05 00:27] chrissm79 opened #66 "Lighthouse v2 Roadmap"
## Overview

I'll fill this section out when time permits but I'm currently working on v2.0 of Lighthouse. Spoiler alert, it's a large breaking change that (at the moment) doesn't have an upgrade path. That being said, with the new approach (schema first), the benefits that come with these breaking changes along w/ how much more the end-user can do with it (i.e., plugins) make this a requirement.

[2018-03-05 04:21] hailwood commented on #66
Hey @chrissm79 ,

Great to have you back working on lighthouse!
This looks highly interesting, If you're looking at approachability something I would consider is different methods of paginating top level queries *and the relations* given that pagination seems to be what most users find difficult to grasp. cursor based, offset based etc.

Something I'd like to put forward is maybe a documentation f

[2018-03-05 19:24] hailwood commented on #59
Fixed via #67

[2018-03-05 19:24] #59 closed

[2018-03-05 19:28] hailwood commented on #17
Refer to #66

[2018-03-05 19:28] #17 closed

[2018-03-05 19:29] hailwood commented on #18
Fixed via #65

[2018-03-05 19:29] #18 closed

[2018-03-05 20:15] kikoseijo commented on #66
This is an awesome proposal, if you need a hand in any aspects feel free to ask. (not good at tests, btw)

[2018-03-05 20:42] chrissm79 commented on #66
@hailwood Thanks for the feedback! Really glad to be back on the project, and the new direction really has me excited about how powerful Lighthouse can potentially be. I'm tweaking the internals at the moment... it's a bit of a mess with some middleware returning closures and others returning class instances, I just need to give it some consistency then I'll update the roadmap to include a clearer

[2018-03-14 20:16] chrissm79 commented on #66
Hey @kikoseijo,

The documentation is **not** in line w/ version 2.0, I'll have to create a new version of the docs to go along w/ this overhaul. I'll try make additions as I complete code but I'm on a project right now (that is using v2.0 beta) so I won't be able to commit time to it until off-hours.

I'll also try to update the roadmap to provide an overview of how some of the internals works an

[2018-03-14 20:34] kikoseijo commented on #66
Dont need docs myself, just to know if was something I can help to enhance, but less work for myself. 🎉

[2018-03-15 04:07] hailwood commented on #66
You're the man @chrissm79,
I'm almost finished building a fairly complex app with Folklores package, so the next app we do will be built with lighthouse 2.0. Will be good to compare them and provide any feedback based on using the two packages :)

Btw, if you're open to it I'm going to work on integrating graphql-playground into lighthouse V2 because it is miles ahead of graphiql https://github.co

[2018-03-21 05:06] kikoseijo opened #69 "v2-Beta test progress"
Love it!, so simple!

Got to the point where I'm getting the schema generated into a React-Native project using Relay Modern, retrieving the schema form the server with the `graphql get-schema -I` introspection method, hardest part was figure out the mutation. (*working example bellow*)

Need a bit of advise how you handle or its up to us the auth, resolve, middleware, thing. Like for example: `@i

[2018-03-21 13:38] kikoseijo commented on #66
@hailwood did you got to make graphcool to work? does not seem to find server my side, it opens with the localhost:3000 but tells me server could not be reached, its strange because relay instrospector works ok, no https needed, i might be missing something.

[2018-03-21 19:34] hailwood commented on #66
@kikoseijo nah, I was waiting for @chrissm79 to approve it before I went and actually implemented it because afaik I have to compile it and then bundle it (I don't want to run a separate nodejs server for it).

[2018-03-22 23:07] chrissm79 commented on #66
@hailwood What did you have in mind for the "integration" of `graphql-playground`? I've been using it to query my current project (using Lighthouse v2.0 beta) and it works great! My only minor gripe is that I can't see the network requests when opening the developer tools. In all fairness, I think this is a Electron thing and not just Playground (the new version of GraphiQL has the same issue). Re

[2018-03-22 23:28] hailwood commented on #66
@chrissm79,

I was thinking of rather than having the electron app, having it load up similar to graphiql.

Not sure what the route should be be for it though, /graphiql is what people are used to, but it's not.

Could go with /playground or /graphql-ui (configurable of course)

I'll have a look at the example app tonight, I'm quite excited!

[2018-03-23 07:50] kikoseijo commented on #66
I got the App, and works great, you can even open the debug mode and inspect the requests.

There is a need to have a config, the schema to make it work so it writes for you the things, but there is no need to embedded in project, as standalone work just fine.

But I believe its better to be on the client project and not the server.

[2018-03-23 08:43] kikoseijo commented on #69
@chrissm79,

Thanks for the example project, will help out people figure out faster how to structure the project.

As for what I have discovered my side,  the AutoLogin Middleware its not a good idea to test things, will always to be present no matter what middleware you use, and with 'web' middleware a real @auth does not work.

I'm working on a poject, its a website with an app, (Using this pack

[2018-03-23 08:50] kikoseijo commented on #69
Just remember something else, I think its important as was rare,

[code]

Had to extend yours because its looking for them in my configured folder, solution was:

[code]

This was a bit rare, in the sense of not being able to call directly yours from the [@]scalar directive as was allays starting inside my folder.

just a punctuation....

BTW: I'm done with the issue, close if you want...or leave

[2018-03-23 08:50] #69 closed

[2018-03-23 08:50] kikoseijo commented on #69
-well, I clicked close!

[2018-03-23 12:39] chrissm79 commented on #69
@kikoseijo Hey, I was able to get the `belongsToMany` relationship to work for me using the `@hasMany` directive. Here's an example project and you can use this query (once it's migrated and seeded):

[code]

I don't currently have a way to create a `connection` or `paginator` instance from the root query... didn't really think about that but it makes sense. I'll see if that's a directive I can cr

[2018-03-23 22:17] 4levels commented on #66
Hi @chrissm79,

amazing what you've done so far.
I'm very curious how you seek to implement the Relay subscription model to enable realtime data in GraphQL.

I've already a job queue and message broadcasting using Lumen 5.4 (without the newer Echo, Horizon, API Resources or advanced broadcasting options), using Redis as queue driver and a socket.io nodejs server as websocket provider, listening in

[2018-03-25 11:56] kikoseijo opened #70 "Pagination on root fields."
Here you are something thats working for root fields.

this one works to create a Relay type [@]connection:

[code]

Swap to get the Paginator style.

[code]

I believe this is something can go on a directive type for queries? where I'm only responsible to start with the initial query,

[code]

or a `Model::query()`  if I got no arguments.

full relay query, (Im working now on the react-native thi

[2018-03-25 11:58] kikoseijo commented on #70
Forgot, about the encodeGlobalID right now is generic, might have i seen? or its only for relations, but there is no name,

Because I presume this cursor id, relay id with nodes, if they match the store cache works better.

[2018-03-27 08:56] hailwood commented on #66
Just wanna say @chrissm79
I am keeping an eye on every notification coming through for the releases/prs etc.
And you are on fire!

Good job!

[2018-03-27 15:53] kikoseijo commented on #70
You are awesome, i can confirm last commit its working.

[2018-03-27 15:53] #70 closed

[2018-03-27 18:01] selfeky commented on #66
@chrissm79 @hailwood
On fire is an understatement :)

[2018-03-27 22:47] kikoseijo opened #72 "Pagination directive + order results"
Helo @chrissm79,

Im wondering how can I filter/order results on a pagination directive.
Like filter results with a query or exclude items by a field.

right now if I try to mix a pagination with a field gives me following waring:

[code]

Am I missing something?

[2018-03-28 00:28] chrissm79 commented on #72
I'll add this to the docs, but you can only have 1 `resolver` directive on a field (there are `resolver` directives that "resolve" a field and `middleware` directives that "manipulate" a field).

As for filtering/ordering, you can add `scopes` to the `hasMany` and `pagination` directives like so:

[code]

*Note: You'll get passed the `args` array to your scope*

[2018-03-28 00:38] chrissm79 commented on #66
@hailwood @selfeky Thanks!!! I think I have just about everything the way I want it for the v2.0 release.. just a few more (smaller) updates and then it's the docs and release!!!

[2018-03-28 05:27] kikoseijo commented on #72
Excellent, was missing the scope.

[code]

Thanks again!

[2018-03-28 05:27] #72 closed

[2018-03-28 08:26] morpheus7CS commented on #66
@chrissm79 Watching this package progress at such a rapid development pace is a joy. It has seriously become my favourite morning ritual to go through the discussions. Really looking forward to the docs, seeing how well the previous ones were crafted. Also, the Youtube video you have made for 1.x was a really helpful way to onboard beginners. Might be worth duplicating.

If we can help in any way,

[2018-03-31 03:20] chrissm79 commented on #66
@morpheus7CS Thanks for the feedback!! I'm currently working on the docs now and I plan to record a new walkthrough video that will get you up and running quickly. After the release I'll try to do some more in depth videos like creating your own directives (the docs will cover that also). Figured I'd keep the first one a bit short so it's not holding anything up.

[2018-04-04 23:15] chrissm79 commented on #66
For those that are following along:

I've been using v2.0-beta in development of a new project since I started on the new direction it's been a pure joy to work with (I honestly think it's my favorite server-side solution for GraphQL). I'm pretty happy with the internals and I don't see any big changes in the pipeline prior to v2.1. I plan on creating a walkthrough video this weekend. The docs are

[2018-04-05 19:42] stefanrempe commented on #66
Wow @chrissm79 this looks amazing!

[2018-04-08 01:29] chrissm79 commented on #66
[Video is up](https://youtu.be/ZksAIAaQwnc)!!!

I should be able to get v2.0 cut tomorrow and the initial docs up as well. In the following weeks I'll be working on more videos and v2.1 with some nice helpers and stubs. Enjoy!

[2018-04-08 19:43] morpheus7CS commented on #66
@chrissm79 Words can’t express how great of a progress you’ve made. I think this will quickly become the way to build GraphQL projects on Laravel.

I wanted to create a personal project fully in REST first, adding GraphQL later, but this video is giving me plenty of pause of my current approach. I think Lighthouse is the way to ho now. Great work.

[2018-04-09 14:27] chrissm79 commented on #66
Sorry everyone, that video had a security issue so I deleted it and create a new one which you can view [here](https://youtu.be/y19EaW2X7ac) (once it's done uploading)!

[2018-04-09 15:00] olivernybroe commented on #66
Have never refreshed a page as much as I am doing now. Just waiting for it to upload!

[2018-04-09 17:53] kikoseijo commented on #66
We got release!!!!! Bravo!!! 🎉🎊👯

Im missing the Relay use on the directives section, in order to have the mutation working you need to use it on the model Type.

[code]

[2018-04-09 17:58] kikoseijo commented on #66
BTW: you want comments on video? perfect place to be embedded its the walkthrough isn´t?

[2018-04-09 20:48] chrissm79 commented on #66
Took a quick break to create a video that goes over how Lighthouse handles the N+1 issue you can run into w/ GraphQL:

[https://youtu.be/UMDnEIflo_A](https://youtu.be/UMDnEIflo_A)

[2018-04-09 21:01] hailwood commented on #66
@chrissm79 just thinking, do we want to close all issues/pr's related to <v2.0 to keep the repo clean? given how unlikely it is they'll actually be given any future attention (understandably).

[2018-04-09 21:03] chrissm79 commented on #66
@hailwood Great point, yeah I'll go through them this afternoon to clear things out so everything stays focused on the new API. THANKS!!!

[2018-04-09 21:04] chrissm79 commented on #66
@kikoseijo Good point on the docs, that is missing! I'll be sure to add that in... and at some point I'll add a dedicated section for Relay & Lighthouse (Connections, Global IDs, Nodes, etc). THANKS!!!

[2018-04-10 00:41] chrissm79 commented on #63
Closing as v2.0 should resolve any schema issues but if you are still get a 500 let me know.

[2018-04-10 00:41] #63 closed

[2018-04-10 00:42] chrissm79 commented on #61
Documentation has been moved for v2.0. It's still not complete but the `hasMany` or `paginate` directive resolves this issue. A video walkthrough link has also been added to the walkthrough section. Please let me know if you still have issues.

[2018-04-10 00:42] #61 closed

[2018-04-10 00:43] chrissm79 commented on #58
This has been updated w/ v2.0 but let me know if you are still experiencing this issue.

[2018-04-10 00:43] #58 closed

[2018-04-10 00:44] chrissm79 commented on #57
v2.0 uses a new method to generate connections/edges. Let me know if this is still an issue though!

[2018-04-10 00:44] #57 closed

[2018-04-10 00:47] chrissm79 commented on #53
Plan on allowing custom validators on mutation fields, just finding the best way to do so. I would love to re-use Form Requests but not sure how to pull that one off at the moment.

[2018-04-10 00:49] chrissm79 commented on #52
Lighthouse v2.0 auto-generates connections/edges and you can implement the `Node` interface on any of your types. I believe that should be everything you need but feel free to reach out if something is missing.

[2018-04-10 00:49] #52 closed

[2018-04-10 00:50] chrissm79 commented on #14
With v2.0 you can use the `paginate` or `hasMany` directives with the `type` argument set to `relay` to auto-generate connections. Let me know if you experience any issues.

[2018-04-10 00:50] #14 closed

[2018-04-10 00:51] chrissm79 commented on #13
Fields are now just regular classes in v2.0 so no more extending from Fluent!

[2018-04-10 00:51] #13 closed

[2018-04-10 00:52] chrissm79 commented on #9
v2.0 uses schema files so no need to register with names anymore!

[2018-04-10 00:52] #9 closed

[2018-04-10 00:53] chrissm79 commented on #7
Docs for v2.0 are still being built out but there's no longer manually register w/ the GraphQL schema container

[2018-04-10 00:53] #7 closed

[2018-04-10 00:55] #3 closed

[2018-04-10 12:02] morpheus7CS opened #74 "Trouble retrieving a date as string - "String cannot represent non scalar value: instance of Illuminate\\Support\\Carbon""
Hey,

I have started building my first project with Lighthouse.

It's amazingly fast way to building apps. Still, I'm running into an issue with retrieving a string Date representation. I have inserted a new enrty into the database through a mutation.

This is the error that gets returned:
`"String cannot represent non scalar value: instance of Illuminate\\Support\\Carbon"`

Here is the schema fil

[2018-04-10 13:09] hosmelq commented on #74
I think your problem is created_at, etc... because those fields are Carbon instances.

I always create a Scalar Date to convert the carbon instace to a String representation.

[2018-04-10 13:11] chrissm79 commented on #74
Hey @morpheus7CS, so this message is saying that the `created_at`, `updated_at` or `deleted_at` fields are returning a `Illuminate\Support\Carbon` instance rather than a `string`. There are 3 ways to handle this but the easiest would be to create a custom directive like so:

[code]

And use it in your schema:

[code]

Just a side note, I'll be creating a `Carbon` scalar and a `@carbon(format: "YYY

[2018-04-10 13:11] #74 closed

[2018-04-10 14:18] 4levels commented on #54
Hi,

I'm also trying to get this running on a bare Lumen installation, but so far I'm not getting to the point where I can use the graphiql interface.
I already did refactor some minor things (since Lumen has a slightly different approach on service providers and configuration) and since I don't want to use Facades alltogether (IMO facades are userland tools, not library tools).

@kikoseijo Can yo

[2018-04-10 14:29] chrissm79 commented on #54
@4levels That would be awesome! I haven't used Lumen for projects myself but I completely understand the use case/benefits here and would be more than happy to merge a PR for it!

[2018-04-10 16:40] kikoseijo commented on #74
This is my solution,

[code]

and for your definitions:

[code]

[2018-04-10 17:13] chrissm79 commented on #74
Thanks @kikoseijo!! When I push the update with the scalar and directive I'll check a config option for non-null that way it won't introduce any breaking changes for anyone who's using that scalar.

[2018-04-10 17:57] kikoseijo commented on #54
@4levels here you are:

https://github.com/kikoseijo/lumen-lighthouse-graphql

Its working for me, you must think that the endpoint its /graphql and uses `POST`

right now whats missing its the auth() helper method, does not comes with Lumen, ill provide a solution for this latter on.

Lumen does not have route:list either, and its hard to know.

[2018-04-10 18:59] deltace commented on #54
@kikoseijo  : thank you for your help and for this library which is now available for lumen.  I will test your graphql library now. Waiting for new releases ...

[2018-04-11 01:21] hailwood opened #77 "Handling file uploads"
Hey @chrissm79,

I'm curious about your thoughts on file uploads?

Right now I'm quite happy handling the uploads through a separate controller that simply accepts the file, marks it as transient and returns an ID.

Then for a mutation we simply send across a list of these transient file ids, and the mutation connects the file to the resource and marks it as a completed file, any files that are no

[2018-04-11 11:37] 4levels commented on #54
Hi @kikoseijo,

Thanks a million for your example repo!
I did however notice that this requires your ksoft/klaravel package but since I don't need any scaffolding nor crud in the browser, I left it out in my own repo.

However I seem to be running into issues with this: when I try to run the login mutation, I keep getting the following error:
[code]

Further investigation shows that it seems relat

[2018-04-11 12:05] kikoseijo commented on #54
Check out your passport keys, client and also ill look into the model class should extends from hasApitokens.

I can look at it latter if you cant figure it out.

Sent from my iPhone

[2018-04-11 12:07] kikoseijo commented on #54
Haha, just realised, move to master now, yes.

Dev-master has a validation feature directive as beta.

Sent from my iPhone

[2018-04-11 13:11] 4levels commented on #54
Hi @kikoseijo,

thanks for the quick follow up.
You pointed me in the right direction.  Let me explain:
I'm used to using the password grant using a client with credentials that I add to the request so the client_id & client_secret are never passed via public requests.

As soon as I enabled the personal access client grant by simply running passport:install again, everything started working!

Than

[2018-04-11 14:53] kikoseijo commented on #77
What about this https://github.com/Ecodev/graphql-upload
And here its the source https://github.com/webonyx/graphql-php/pull/220

[2018-04-11 16:17] chrissm79 commented on #77
@hailwood Great question, I didn't realize there was some work being done in the GraphQL community on this (I've been using the REST method you mentioned as well). I'd definitely be interested in getting this worked into the package though!

It looks like the [graphql-multipart-request-spec](https://github.com/jaydenseric/graphql-multipart-request-spec) is currently the way to go so I'll add this

[2018-04-12 05:04] hailwood opened #80 "Please clean up the branches :)"
Hey @chrissm79 ,

Any chance you could delete the old branches for V1, and add a quick note to the readme regarding the other branches.

E.g. what's the difference between

master
v2-beta
v2.0.x

Cheers!

[2018-04-13 10:17] olivernybroe opened #81 "[Feat] Error message from exceptions"
Could be nice with an interface to define custom rendering of exceptions just like Laravels `Illuminate\Contracts\Support\Responsable` interface.

[2018-04-13 11:52] olivernybroe commented on #81
@kikoseijo Oh If I can overwrite the error function then I can prob. just implement it myself.

But what I mean is in Laravel when I implement the Responsable interface, Laravel will render my exception accordingly to the `toResponse($request)` method.
I for example like throwing exceptions when something is wrong and then handling them in the exceptionshandler and render them to the front end wit

[2018-04-13 12:11] kikoseijo commented on #81
I wonder if this is posible,
but i guess the Graphql has a try-catch and does its own thing.

Maybe this helps you:

https://github.com/nuwave/lighthouse/blob/882a1b21508f60fcadb21ec7b8bdc320a270a649/src/Support/Traits/CanFormatError.php

[2018-04-13 14:04] chrissm79 commented on #80
@hailwood, couldn't agree more! Cleaned up the branches... v2.0.x will stick around for bugfixes for v2.0, v2-beta has been removed and master will hold all the changes for the v2.1 release.

Let me know if you have any questions or feedback!!!

[2018-04-13 14:04] #80 closed

[2018-04-13 16:16] olivernybroe opened #84 "[Feat] Argument filters"
I can't figure out how we can set a field to be filterable.
For example i have some users and I would like to make the name something i can filter by.

[2018-04-13 21:31] chrissm79 commented on #84
Hey @olivernybroe,

If you trying to filter something that is using the `@belongsTo`, `@hasMany` or `@paginate` directives you could just use the `scopes` argument like so and it will pass the field's arguments to your scope.

[code]

[code]

Otherwise, you just create an argument on the field and use it in your resolver

[code]

[code]

[2018-04-14 10:35] kikoseijo commented on #84
The `@field(resolver: "App\\Http\\GraphQL\\UserType@avatar")` can do the job also.

You just tell where to resolve and take the input from `$this->args` on resolve function.

Check examples here:
https://github.com/nuwave

[2018-04-14 10:39] olivernybroe commented on #84
Right now my query looks like this
[code]

[2018-04-14 10:45] olivernybroe commented on #84
Right now my query looks like this
[code]
With the @field I have to do a lot of the work manually, so was thinking about adding a ArgDirective like this
[code]
Just trying to find out how to access the query from a `ArgMiddleware`.
As I kinda like the syntax I made, as it doesn't bloat my scopes when just filtering by id.

[2018-04-14 10:54] kikoseijo commented on #84
What client you using?

I guess the magic its a bit limited, you trying to have all done from the schema,
Question for magic its to know how you should reply,

here its a pagination example on root fields. #70
If you dont need pagination just build your own query resolve function, you can even use a repository function,

[2018-04-14 11:01] olivernybroe commented on #84
Setting it up with relay pagination.

Yes I am trying to do as much from schema as possible, just trying to figure out how to do it the best possible way with lighthouse.

[2018-04-14 11:05] olivernybroe commented on #84
But I guess the most clean way is to do it with scopes then, thanks!

[2018-04-14 14:13] chrissm79 commented on #84
@olivernybroe I LOVE the idea of argument filters! I have to figure out how to get it to work with `@paginate`, `@belongsTo` and `@hasMany` (maybe passing them through the `$args` variable), but I could see all kinds of possibilities. I'll re-open and label this as v2.x

[2018-04-14 14:32] olivernybroe commented on #84
@chrissm79 oh nice!

I don't know much about the internal system, but would it be possible to just pass the querybuilder? If we have access to the query we can pretty much do everything and then we would be able to make the argument filter directive relatively easy.

[2018-04-14 14:35] olivernybroe commented on #84
Also if we need some kind of way to specify filtering type eg. `LIKE`, `EQ`, `NEQ` and so on.

[2018-04-14 14:50] chrissm79 commented on #84
@olivernybroe, I'm probably going to have to pass some sort of parser instance (that you can grab the `queryBuilder` off of) through the `$arg` array. This way I can do things like `between`, `or`, `and` (which would require some sort of key). But if you're using these new filters on the `@paginate`, `@belongsTo` or `@hasMany` relationships then you don't even need to worry about the query builder

[2018-04-14 15:07] kikoseijo commented on #84
Wow, +1

[2018-04-14 16:04] olivernybroe commented on #84
Well done!
Smart solution with making a directive for each type, also solves the issue for coming with a good name.

Could we do so @in can be used with global ID?
[code]
And then we can automatically lookup the user type id field and check if it has @globalId on it and then decide it.

[2018-04-16 02:44] chrissm79 commented on #84
@olivernybroe The last beta release has some argument filters to use!! The best way to see the possibilities (currently) is to [check out the tests](https://github.com/nuwave/lighthouse/blob/master/tests/Integration/Schema/Directives/Args/QueryFilterDirectiveTest.php).

I just noticed your question about globalId fields. I **think** I can allow the `@globalId` directive to be added to an argument

[2018-04-16 02:46] kikoseijo commented on #84
@chrissm79 you awesome,
but, maybe, last commit can have an error? when you try to list routes.

[code]

[2018-04-16 02:56] hailwood commented on #84
Hey @chrissm79

The filters look great (I've only read through the tests)!

I see we could do `@where(operator: "like")` if we want a where like, but I feel that would be a common enough request that we should just add a `@whereLike` or simply `@contains` directive also?

[2018-04-16 03:38] chrissm79 commented on #84
@kikoseijo I'll check that out. The tests passed but I haven't pulled it into my project yet. However, it sounds like there is a type in the schema that's been declared twice (that or for some reason the scheme file is being generated more than once). I'll report back if I see something on my end when I update my dependencies to use the new beta.

@hailwood I get the point with the `@whereLike`. M

[2018-04-16 03:42] hailwood commented on #84
@chrissm79 so what would that look like?

[2018-04-16 03:51] chrissm79 commented on #84
@hailwood Actually, I might need to use strings vs an enum (I might get an error since the enum isn't included in the user's schema). But it would look like the following:

[code]

[2018-04-16 04:06] kikoseijo commented on #84
@chrissm79 forget it, i had a second router defined, from when i was playing with auth.
All fine. thanks anyway,

[2018-04-16 08:13] hailwood commented on #84
@chrissm79 interesting, although by defining it like that we actually like control away from the client right? Like a client couldn't then on your third example say "actually, I want a starts_with fillter"?

[2018-04-16 09:49] olivernybroe commented on #84
@chrissm79 Makes sense to let us define a default  like operator. However I think you should give us more control, so we eg. Can say `whereLike(starts_with: "___" ends_with: "%") ` it gives more control and doesn't hide what's happening as much.

@hailwood client still has full control. His example just gives us an default Wildcard to set. You can for  example make the starts_with filter to a Wild

[2018-04-16 12:18] 4levels opened #85 "[Lumen] Working with relations - Call to undefined function Nuwave\Lighthouse\resolve()"
Hi all,

I'm trying to get relations working following the video tutorial (and any other info I can find), but I keep getting the following error:  **Call to undefined function Nuwave\Lighthouse\resolve()**

I have the following configuration in place (simple Room -> Comments relation):
App\GraphQL\Schemas\pms.graphql
[code]

App\GraphQL\Queries\Rooms.php
[code]

App\GraphQL\schema.graphql
[code]

[2018-04-16 12:35] chrissm79 commented on #85
Hey @4levels,

From the looks of the error it seems that Lighthouse doesn't know where to look to get the initial set of rooms. You just need to add a `@field` to the `Query` type like so:

[code]

*The namespace argument isn't required*

As for the other questions
- GraphQL only allows you to create uniquely named types. You *could* create an `interface` with the name `Comment` and name the other

[2018-04-16 12:44] 4levels commented on #85
Hi @chrissm79,

fantastic response, this should get me going quickly!

Regarding the last question (extend GraphQLResolver or GraphQLQuery): I noticed Lighthouse will look for a query class with the same name as the field in App\GraphQL\Queries (just as I saw this working in @kikoseijo example project) hence my question.  From the video tutorial I already learned that this can just be a plain PHP

[2018-04-16 13:26] kikoseijo commented on #85
hi @4levels,

I was playing with v2-beta with no documentation, this is why I have all this mixed up, you know I'm coming from the laravel-graphql like you, and all this not needed now, I should update example.

What make this library so peculiar its that you don't need to define anything apart from the schema to have lots of features implemented. Even more with latest commit!!!

In the config you

[2018-04-16 13:29] kikoseijo commented on #85
Forgot to say @4levels, for the context to work you need to make use of the right middlewares. otherwise the auth()->user will never resolve.

I got it like this:

[code]

[2018-04-16 13:59] 4levels commented on #85
Hi @kikoseijo @chrissm79,

I couldn't help to notice that there are maybe some issues with the default configuration: when I copied the `config.php` file to my local projects `config/lighthouse.php`, I noticed the namespaces are defined using single quotes but with double backslashes.  @kikoseijo in your latest message you're even using both single and double backslashes inside single quoted strin

[2018-04-16 14:14] 4levels commented on #85
@kikoseijo I also noticed that to have the context with authenticated user working, I have to **remove** the @auth statement in the graphql schema.
This works:
[code]
But this doesn't
[code]
Is this something Lumen related, since I can clearly see from the info @chrissm79 provided that the @auth directive should do the trick..

[2018-04-16 18:04] kikoseijo commented on #85
@4levels the auth its called as a Facade, this is why the auth its not working,
Right now you can´t use the `@auth` directive with lumen if you don't activate the facade, its the way was build the directive, I tried to update to remove facade use but was out of my capability scope right now, haven't touched Laravel guards yet.

You can build your own one, I mean, you can build your own directives,

[2018-04-16 18:09] kikoseijo commented on #85
The directive does the same than a query, (I like more `viewer` than `me`)

[code]

Something silly when I was playing around:

[code]

[2018-04-16 19:54] chrissm79 commented on #66
Since v2.0 is released create a new issue when I get closer to releasing v2.1 to go over all the goodies it includes until it's out of beta.

[2018-04-16 19:54] #66 closed

[2018-04-17 08:07] 4levels commented on #85
Hi @kikoseijo,

thanks a million for the extensive explanation and encouraging words!
I'll be testing if the Facade calls are the ones to blame here and see if I can work around them.
I'm already using my own fork since I went ahead and replace the obvious facade calls already.

Keep you all posted!
@chrissm79 very right to add the label "Lumen"!

[2018-04-17 08:36] 4levels commented on #85
Hi @kikoseijo

Just to get back on this:

- re-enabling Facades doesn't seem to make a difference: I keep getting the error `Call to undefined function Nuwave\\Lighthouse\\Schema\\Directives\\Fields\\auth()` as soon as I add the `@auth` directive.  The Directive itself seems to exist in `Schema\Directives\Fields\AuthDirective` but somehow Lumen tries to look for the function auth() instead of usin

[2018-04-17 09:05] 4levels commented on #85
Ok, so now I'm back to where this issue started..
I'm getting the same error `Call to undefined function Nuwave\Lighthouse\resolve()` as soon as I try to query a relation (without paginator or relay).  The same happens as soon as I add the `@model` directive when defining types.  Enabling Facades doesn't seem to make a difference.

@chrissm79 Can you explain a bit more where / how I'm supposed to

[2018-04-17 09:27] 4levels commented on #85
So close, but I'm currently faliing since Lightouse's internals are still quite far from my comprehension :-(

@chrissm79 Can you (try to) explain how the `resolve()` call in `src/GraphQL.php` is supposed to work?  Even if I enable Facades, this still fails and my IDE (currently WebStorm) is also unable to go to it's source.   When comparing my fork to lighthouse, I also don't see any differences

[2018-04-17 13:47] kikoseijo commented on #85
hey @4levels ,
The repo its still on v2-beta, ill update latter and make sure its updated.

Namespaces are not important, i mean, folder structure and namespace dont need to match, its up to you namespaces... you should not go crazy about this.

I think you are not providing the resolve function the params or you mixing the order....

I guess you nearly there,,, you are just about to break the lea

[2018-04-17 13:55] 4levels commented on #85
Hi all,

And another update ;-)

I did get around the forementioned error message by replacing the `@hasMany` directive with `@paginate`.  However, this makes the resulting comments list unaware of the relation with the Room model and returns all comments for each room - I guess this comes from the missing `@hasMany` directive so the resolver simply paginates over all comments, regardless of the c

[2018-04-17 14:04] kikoseijo commented on #85
Mr @4levels,

If you could just upload your project, or the main parts... you know, some migrations and seeders, and ill work it out today.

No need full project, just the parts you working on right now, im sure we will go faster from there.

Here its an example:
https://github.com/chrissm79/lighthouse-belongs-to-many

Here its another:
https://github.com/nuwave/lighthouse-todo-example

and anothe

[2018-04-17 14:47] 4levels commented on #85
Hi @kikoseijo and @chrissm79

I'm just from creating the repo, you can find it here: https://github.com/4levels/lighthouse-relay

Hope this can shed some light.. currently it's using Facades and I'm not using my forked version of Lighthouse..

Thanks again!

[2018-04-17 14:59] 4levels commented on #85
@kikoseijo
One remark about the links you provided with example projects: none of them has a schema.graphql file, @chrissm79 are they not included because of .gitignore entries?

[2018-04-17 15:02] kikoseijo commented on #85
@4levels them on routes

https://github.com/chrissm79/lighthouse-belongs-to-many/blob/master/routes/graphql/schema.graphql

[2018-04-18 08:35] 4levels commented on #85
Hi @chrissm79,

I'm currently looking with @kikoseijo why this error is so persistent (call to undefined method resolve() )
Can you please provide some more info regarding my questions about the resolve function?  How is this supposed to work, seeing that there's no resolve function, yet it's being called directly?

Thanks in advance!

[2018-04-18 15:09] kikoseijo commented on #85
Allright,

I think I found the error but not been able to find why, maybe @chrissm79 can give me a tip,

[code]

I can't use the @model directive in order to embed the model inside de Node.

This is when we get this error.

`Call to undefined function Nuwave\Lighthouse\resolve()`

1st image its without the directive and second with it.

![screen shot 2018-04-18 at 17 07 39](https://user-images.git

[2018-04-18 17:10] kikoseijo commented on #85
Got error traced to here:

[code]

[2018-04-18 17:12] chrissm79 commented on #85
@kikoseijo Thanks for all of your help on this! Been pretty backed up but I'll try to provide some feedback during lunch.

Is the `resolve` helper method included w/ Lumen?

[2018-04-18 17:12] kikoseijo commented on #85
Allright!

there you are:, no we got no helpers in Lumen.
like the app_path

[2018-04-18 18:11] kikoseijo commented on #85
Working now @4levels ,

To close this @chrissm79 , whats the job of the `@model`, I can't figure out if its of any use, can you provide some info?

![screen shot 2018-04-18 at 20 07 50](https://user-images.githubusercontent.com/1528668/38949926-405589b0-4344-11e8-9fc3-15198dd56d7e.png)

[code]

[2018-04-18 18:30] chrissm79 commented on #85
@kikoseijo Thanks for your help with this!! So the `@model` directive just registers a `Node` which is [used by Relay](https://facebook.github.io/relay/graphql/objectidentification.htm) (you can use it with something like apollo also, but I'm not sure if it provides the same benefits as Relay).

The `Node` interface basically allows Relay (and any other GraphQL client) to query for a type based on

[2018-04-19 07:25] 4levels commented on #85
Hi @kikoseijo & @chrissm79,

it started indeed working as soon as I added the helper function `resolve` (copied it from the Laravel framework repo), such a minor thing to resolve this major issue!  I guess I was looking too closely (I should have known, from all these questions regarding the resolve function).

Very glad it's fixed!

@chrissm79 I'm not fully understanding what this resolve functio

[2018-04-19 07:35] 4levels commented on #85
@chrissm79 One final question (I hope):
Would it be feasable to be able to specify in the @model directive which model class is supposed to be used?
I think this would be the easiest way to tell the GraphQL in the schema how a GraphQL model is supposed to translate to the Eloquent model, as an alternative to use strictly unique class names instead..

[2018-04-20 08:39] 4levels commented on #54
To anyone reading this:
see this issue: #85 and this PR #78

[2018-04-22 14:17] vestervang opened #87 "Multiple directives"
I'm making a little test app where i have this schema

[code]

The problem i'm having is the "newsArticle" field on the User type. I want to rename and tell that it is a hasMany relationship. Is there any way to do this?

[2018-04-22 23:27] chrissm79 commented on #87
Hi @vestervang, I think what you're looking for is the `relation` argument you can set on the `hasMany` directive, but to be sure I'd have to see the relationship on your User model, if it set up like this:

[code]

Then you would define your User type in graphql like so:

[code]

[2018-04-23 03:32] chrissm79 opened #88 "Subscriptions"
Currently, this is just a placeholder for discussions. But as a quick progress report, I have gotten started on subscriptions this weekend and it's coming along quite nicely! Right now I have 2 variations in mind:

1. Websockets (`lighthouse-subscriptions-ws`) - The main goal of this package is to keep everything in PHP land. The WS server will be built with [Ratchet](http://socketo.me/). I've tes

[2018-04-23 04:45] hailwood commented on #88
Hey @chrissm79 completely half baked thought here that is probably entirely down the wrong track, but is there any way to leverage Laravel echo as the websocket provider?

Also, what I'm most curious about here is what api you're looking at implementing for these in terms of the .graphql schema?

[2018-04-23 06:20] #87 closed, assigned to nobody

[2018-04-23 06:43] 4levels commented on #88
Hi @chrissm79,

Subscriptions is indeed my last number one feature for lighthouse, great to hear you're making progress! Since I currently have already a Node ws server running I'd be happy to see where I can help to get this up and running with it.

Redis is also my preferred store for queues and websocket storage..

I'll have a look at Ratchet as well. Interested also in a Laravel Echo implement

[2018-04-23 11:59] #85 closed

[2018-04-24 21:56] chrissm79 commented on #88
@hailwood @4levels Echo is a pretty interesting prospect, but I feel like I'm jamming a round peg through a square hole at the moment... specifically when attempting to customize data being sent down to the client based on the query they're subscribing to.

From my previous tests, I can send something like a Post model via the broadcast event, but what if the user subscribed to something like this

[2018-04-24 22:15] TGNThump commented on #88
At that point, isn't it functionally the same as executing the following?
[code]

[2018-04-24 22:27] chrissm79 commented on #88
@TGNThump If you're asking if you could just send a query when a subscription gets sent down then yes, but then you don't even need GraphQL subscriptions, you could just use Echo and pull down/refetch when a certain event is fired.

However, that's not the purpose of GraphQL subscriptions (or Echo really) since that means that you have everyone pulling from your server at the same time when the ev

[2018-04-24 22:34] TGNThump commented on #88
@chrissm79, no I meant executing on the server, but I suppose the problem would be that the broadcastWith would be different for each client... I see where you're coming from.

I suppose you'd have to use a separate channel / echo event for every subscription by every client.

[2018-04-24 22:41] chrissm79 commented on #88
@TGNThump sorry for the misunderstanding, but yes you're dead on! I think it's **possible**, it's just more efficient to go in another direction for now and then come back and see if I can tackle Echo (i.e., maybe making a custom queue driver).

[2018-04-25 18:33] KubqoA opened #89 "Fetching relationships gives SQLSTATE[42601] error"
Hello,
I was following the walkthrough for lighthouse on youtube, but I am running onto SQLSTATE error when I want to use relationships.

This is my `schema.graphql` file:
[code]

When I call this query:
[code]

The return values are:
[code]

And `laravel.log` contains the following info:
[code]

I am using PostgreSQL and running PHP 7.2.
How to get the relationships to work? I can't figure it out

[2018-04-25 18:53] chrissm79 commented on #89
@KubqoA It looks like Postgres doesn't like the query that's being performed on the `belongsTo` relationship. The `hasMany` and `belongsTo` uses a custom query builder to build queries so you don't run into an N+1 issue. However, it would appear that it only works on MySQL and will need to be refactored for Postgres.

I'll have to swap out implementations of the Query Builder based on the selected

[2018-04-26 04:47] KubqoA commented on #89
You are the man! Thanks it works now. And thanks for quick reply!

[2018-04-26 06:00] #89 closed

[2018-04-26 09:43] 4levels commented on #54
@alfaproject Please close this issue if the latest master branch fixes the support for Lumen.

[2018-04-26 11:32] alfaproject commented on #54
I would prefer if someone else can test and close because I’m not working in the project that led me here. It would be unfair if I close it without testing.

[2018-04-26 20:18] kikoseijo opened #90 "[BUG] Relay connection offset error"
Hi there,

Anyone using with relay connection?
Just discovered that I got a jump from offset 10, to offset 40, having the pagination on `$first:10`.

its so rare...

This isn't the worst, what I'm getting more confuse its with the fact that to be able to query relay connections I must change type to `connection`, if I change it to `type:"relay"` I must use `count` instead of `first` whats not the

[2018-04-26 20:27] kikoseijo commented on #90
I can confirm on the demo project the cursors are also going crazy.

this is to get second page: `jobs(first:3, after:"YXJyYXljb25uZWN0aW9uOjM="){` works **OK**

[code]

To get page 3: `jobs(first:3, after:"YXJyYXljb25uZWN0aW9uOjEy"){` now we get it **wrong**

[code]

After this we get empty data because the jump offset its wrong:

`jobs(first:3, after:"YXJyYXljb25uZWN0aW9uOjc1"){`

[code]

[2018-04-26 21:16] chrissm79 commented on #90
@kikoseijo Thanks for reporting, I'll check it out because that does look off.

[2018-04-26 21:20] kikoseijo commented on #90
Thanks @chrissm79 , if you can confirm also that the relay connection issue, because driving me crazy, no rush, just know its not my end ill be more than happy.

Got a server with version `v2.1-beta.3` and `webonyx/graphql-php@v0.11.5`  where relay type its working ok, but not on latest, trying to see what webonyx/graphql-php changed to this to happened.

[2018-04-26 21:59] kikoseijo commented on #90
The `connection/relay` swap got introduced on the [v2.0.2](https://github.com/nuwave/lighthouse/releases/tag/v2.0.2) version.

The cursor its older,

[2018-04-26 23:57] kikoseijo commented on #90
#91

[2018-04-27 00:06] #90 closed

[2018-04-27 00:12] kikoseijo opened #92 "Versions 2.0.X not up to date with master"
@chrissm79 , seems that if you just use the `composer require nuwave/lighthouse` the versions there are not properly up to date with master branch.

by default you will get today the 2.0.3 and this version as you can see comes with this fix we had several commits ago.

![screen shot 2018-04-27 at 02 05 43](https://user-images.githubusercontent.com/1528668/39337899-dce2558e-49bf-11e8-942b-5d43992ec

[2018-04-27 03:26] chrissm79 commented on #92
Hey @kikoseijo,

`v2.0.x` is for fixes for the `v2.0` release and it is the current release so that's what should be pulled down from composer.

`master` is for beta (pre-releases). Once I have everything ready to go I'll cut `v2.1` and create a new `v2.1.x` branch that will just include fixes for version `2.1`.

Hopefully that all made sense 😀

[2018-04-27 03:26] #92 closed

[2018-04-27 15:41] olivernybroe opened #93 "[Feat] Scout support"
Thanks for supplying query to args directives, really helps alot!

So I am creating an Arg directive called `@search` for adding support for Laravel scout (fulltext search).

Is this something you would want in your package or should I make an extension for it?

[2018-04-27 16:41] olivernybroe commented on #93
Yep, it's a single file. Just submitted a pull request for some changes which are needed for implementing this.

Hmm yeah we could add it in documentations, here is a gist with my directive.
https://gist.github.com/olivernybroe/2d2b164851b4fc7d4b62df8f37bfbb2a

[2018-04-27 16:41] chrissm79 commented on #93
@olivernybroe, love the idea and yes that would be awesome to submit a PR for it!! let me know if you have any questions or if there's anything I can help with!

[2018-04-27 16:46] olivernybroe commented on #93
@chrissm79 I added a PR for some changes needed, however I didn't add the directive.
The reason why I didn't add the directive is because Scout requires some Laravel features which we don't have in our package, and it would tie Lighthouse to Laravel and make it incompatible with Lumen.

I can add it without tests, or I can create a package so it can easily be added.
(not that great at composer, so

[2018-04-30 09:00] TGNThump commented on #88
I've gotten subscriptions working with lighthouse by setting up a Ratchet\WebSocket server that runs on a Laravel Command and conforms to the https://github.com/apollographql/subscriptions-transport-ws protocol.

I fire an event on a subscription using a custom directive to make my schema cleaner, but using @event would work just as well. All the event listener does is connect to the websocket ser

[2018-04-30 12:32] chrissm79 commented on #88
@TGNThump, damn that looks nice! The only thing I had left on my version was generating and storing the context, but it's pretty verbose and I needed to clean things up quite a bit before release. Your solution looks extremely streamlined and easy to understand 👍 I'll check it out in depth but thank you for providing this!!!

[2018-04-30 17:09] TGNThump commented on #88
Figure I might as well integrate it the whole way.

[2018-05-02 06:55] olivernybroe opened #96 "[Feat] Return original model as original property on Response"
Could be nice if we changed `graphql()->execute($query)` to return a Response object instead and setting the original property on the response to the original model.

By doing this we would have the opportunity for making tests which aren't dependent on our data structure, but instead do something like this
[code]

This test will check if the endpoint me has gotten the correct user model, but it t

[2018-05-03 12:34] 4levels commented on #54
Hi @chrissm79,

I think it's safe to close this issue.  I'm actively using your latest version with the merged changes for Lumen support etc and you were able to run the tests successfully..

[2018-05-03 12:37] 4levels commented on #93
Hi @olivernybroe,

I'll be looking into this since I have some experience with testing / porting Laravel libraries to Lumen.
I'm currently not very active with Lighthouse (I'm focussing on the app counterpart that actually consumes the Lighthouse features), but I expect to have time for this in the next couple of weeks..

Kind regards,

Erik

[2018-05-03 12:46] 4levels commented on #93
Upon a first look, it pitty it that Scout seems to be configured with Algolia (a paid subscription service - only free for open source projects) only.  They claim it should be easy to integrate other search indexing services, just sad to see that ElasticSearch is not the preferred interface by default.

I do have some experience with ElasticSearch (and eg. Apache Solr) so I'll take it as a challen

[2018-05-03 13:46] chrissm79 commented on #54
Thanks for testing @4levels!

[2018-05-03 13:46] #54 closed

[2018-05-03 14:42] olivernybroe commented on #93
For the test in lighthouse, we could just use fakes or maybe use TNT search? Just didn't felt like adding the directive without tests for it.

[2018-05-03 18:01] TGNThump commented on #96
Hmm. I'm not sure I like this idea, purely because it makes it hard to use the library in cases where you aren't parsing a response object, such as loading a query from another source (DB) or for subscriptions, where you aren't going to be returning a response object.

[2018-05-03 19:38] olivernybroe commented on #96
@TGNThump it could be a second method called executeAsResponse or you could just call getContent on the Response object. The point is we can't get the data before it gets manipulated which makes testing a lot harder.

[2018-05-04 09:50] TGNThump opened #98 "[Feat] Support for apollo-tracing"
It would be amazing if we could add support for the Apollo tracing extension (https://github.com/apollographql/apollo-tracing).

[2018-05-04 09:51] TGNThump opened #99 "Support for apollo-cache-control"
Support for Apollo standardized cache control extension (https://github.com/apollographql/apollo-cache-control). Probably super easy to implement using directives.

[2018-05-04 09:54] olivernybroe commented on #98
Hmm looks like they don't support webonyx/graphql-php, do we need the underlying package to support it and then we can support it afterwards?

[2018-05-04 10:41] TGNThump commented on #98
Ah, yeah. webonyx/graphql-php has no extensions support implemented yet. :/
There is a PR for it (https://github.com/webonyx/graphql-php/pull/193), but apparently there is debate about which direction to take.

[2018-05-04 23:59] chrissm79 commented on #98
@TGNThump @olivernybroe This is something I've wanted to implement since I started development of v2.0. I haven't looked into it yet (Subscriptions is currently my top new feature priority). There's a few areas which might require a PR to `graphql-php` such as knowing the duration and startOffset of parsing and validation for the schema. As for the resolvers, it wouldn't be too hard to wrap each f

[2018-05-05 00:24] chrissm79 commented on #96
@olivernybroe I personally like the `executeAsResponse` idea. If there's no PR I'll add it this weekend but thanks for the feedback!!

[2018-05-05 00:33] chrissm79 commented on #93
@olivernybroe You could add `laravel/scout` as a `dev` dependency (if there's a way to test it). It will just throw an exception if a user attempts to use the scout directive w/ out the composer package installed, but it means it won't pull it in when Lighthouse is installed in case the user doesn't plan on using scout or if it's incompatible w/ Lumen. Let me know if you have any questions or if t

[2018-05-05 12:56] olivernybroe opened #100 "Soft deleted models arg directive"
Was thinking if we should add a directive for soft deleted models?

So we have an arg directive called `@trashes` or `@softdeletes` or something better than that, this arg directive would work in the following way.

[code]

Of course we would store the Trash enum, so users don't have to define that themself.

[2018-05-05 12:59] olivernybroe commented on #96
@chrissm79 Sounds great! Looked into it, but tbh. I have no idea how to implement it.

[2018-05-05 13:58] TGNThump opened #101 "Support for Query Complexity Analysis"
webonyx/graphql-php has support for query complexity analysis. It would be helpful if there was a `@complexity` directive that allowed you to set a individual field, and for the paginators to set the complexity to a function that returns the number of results its going to return multiplied by the child complexity, as shown in the example at https://webonyx.github.io/graphql-php/security/

[2018-05-05 13:59] TGNThump commented on #101
It might also be nice to add native support for the other https://webonyx.github.io/graphql-php/security/ features too.

[2018-05-05 14:55] emil-nasso opened #102 "No description in composer.json"
There is no description for this package, making it hard to find on packagist. Doesn't show up if you search for graphql, for example.

![https://docs.google.com/uc?id=1yGPXYHKwVf1K1E5FqD9DQNjsV_IC5Wfy](https://docs.google.com/uc?id=1yGPXYHKwVf1K1E5FqD9DQNjsV_IC5Wfy)

[2018-05-06 00:07] chrissm79 commented on #88
Here is the first beta release for [lighthouse-ws](https://github.com/nuwave/lighthouse-ws)! Currently, it requires Redis, it works w/ Passport to inject the authenticated user into context, and provides an in-memory storage solution for subscriptions. You can extend the [SubscriptionManager](https://github.com/nuwave/lighthouse-ws/blob/master/src/WebSocket/SubscriptionManager.php) (for storage) a

[2018-05-06 01:15] chrissm79 commented on #102
@emil-nasso Thanks for bringing this to my attention, the description has been updated!

[2018-05-06 01:15] #102 closed

[2018-05-07 10:07] olivernybroe commented on #101
What about a `@queryDepth(maxDepth: 10)` directive we can set on each query? :)

[2018-05-07 10:16] TGNThump commented on #101
@olivernybroe Sounds good. I'm way more interested in the Query Complexity Analysis than Limiting Query Depth, but yeah, both features are definitely needed.

[2018-05-07 10:30] olivernybroe commented on #101
@TGNThump Implementing them would be really similiar as they are both just Rules. But I am totally up for having Complexy, QueryDepth and prob. also Introspection disabling.

[2018-05-07 17:05] vestervang opened #105 "pageInfo total return null"
When nesting connections I'm experiencing a problem with the PageInfo field.

When i try to execute this query:
[code]
I get this response

[code]

The first level is working but the second isn't.

Here is my schema file

[code]

[2018-05-07 17:11] chrissm79 commented on #105
@vestervang Thanks for the head's up! Let me take a look and see if I can reproduce and test it. But yes, there certainly seems to be an issue there.

[2018-05-07 17:32] chrissm79 commented on #105
@vestervang I used the `lighthouse-example` with the following schema:

[code]

Sent this query:

[code]

and got the following response:

[code]

Could you post the `newsArticles` relationship on your `User` model?

[2018-05-07 17:46] chrissm79 commented on #101
@olivernybroe All three of those are definitely items that should be available in Lighthouse... added to `v2.x` label. First beta of subscriptions is done, I need to add some initial docs for it then I'll cut `v2.1` of Lighthouse and I'll get started on new items (such as #101, #99, #98) for `v2.2`. I'll try to keep this issue updated as these items get added in. Thanks @TGNThump @olivernybroe!!

[2018-05-07 17:50] chrissm79 commented on #100
@olivernybroe Interesting, and I wonder if we even need a directive here... we could just have an internally defined Enum that the `hasMany`, `paginate` directive would check for and if it exists it would add it to he auto-generated query. Added it to `v2.x` label!

[2018-05-07 19:42] chrissm79 commented on #105
Just to rule out something weird w/ the User model or the `relation` argument, I updated my version of the `lighthouse-example` schema to:

[code]

ran this query:

[code]
but I still got the expected output:
[code]

Can you run `composer update nuwave/lighthouse` just to confirm you have the most updated version?

[2018-05-07 20:07] chrissm79 commented on #105
I pulled down `dev-master` and even nested another level but I'm still getting the correct `pageInfo`. Could you try to reproduce the error w/ the [lighthouse-example](https://github.com/nuwave/lighthouse-example) repo or if you could create a new repo for me to debug that would be great!

[code]

[code]

[2018-05-07 21:17] #93 closed

[2018-05-08 02:20] hailwood opened #106 "[Docs] How would I..."
This issue exists as a bit of a dumping ground of "How would I do this" questions that we could potentially answer and add to the docs in a specific section.

As any answers are posted the original asker should add them to their question to keep things easy to read. I've provided a few below to give us some structure.

[2018-05-08 02:27] hailwood commented on #106
**Question:**
How would I define an external validation rule provider.

**Example Use case**
the simplest example I can see right now is for editing a post, assuming the `slug` needs to be unique across all posts, I need to be able to provide the `id` field from the arguments to the ignore section.

Or conditionally adding rules based on whether another field is present.

[2018-05-08 02:43] hailwood commented on #106
Question:
How would I allow a user to only query certain fields **or relations** in a query based on a role (assume $user->role returns 'admin' or 'user') **without breaking eager loading**.

Example Use case:
An admin should be able to query for all products, and all sales related to that product.
A normal user should only be able to query for the product and should not be able to see sales.

Or,

[2018-05-08 02:51] hailwood commented on #106
**Question:**
How would I add additional fields to a paginated relationship?

**Example Use case:**
Any additional information on a pivot table e.g. Imagine we have `Users` and `Companies` which are related through a many_many relationship. On the pivot table we have an additional column `role` as well as the default timestamp columns `created_at`, `updated_at`.

We want to be able to gain access

[2018-05-08 17:07] vestervang commented on #105
Okay finally got around to create a repo with my code.

```https://github.com/vestervang/lighthouse-test```

I hope this helps find the issue because I sure can't.

[2018-05-08 17:37] olivernybroe commented on #100
@chrissm79 Hmm the problem I see with that is the `hasMany` could end up being a little confusing with all the parameters.
For example if I want to give the user the power to choose if they want soft deleted models as well, how do I then define what the key in which they define that they want deleted models is called. eg. in the example above I called it `trashed`.

However I think the `hasMany` s

[2018-05-08 17:40] chrissm79 commented on #105
@vestervang I see it! Might not be able to really dig in until this afternoon but I'll let you know as soon as I have a fix!

[2018-05-08 18:06] chrissm79 commented on #105
@vestervang looks like the count field requires [snake_case](https://github.com/nuwave/lighthouse/commit/5d33b22ffb42879cc88cda6b5435c41f91094a7f)... re-pull from `master` and let me know if that resolved the issue on your end!

[2018-05-08 18:10] vestervang commented on #105
That solved the problem! Thanks for the help and hard work.

[2018-05-08 18:10] #105 closed

[2018-05-08 18:13] chrissm79 commented on #100
@olivernybroe The schema is almost exactly as you have it, just w/out the directive (rather than adding another argument to the `hasMany` directive). Like so:

[code]

Then, using just the `FieldInfo` the resolver would check if the `Trash` enum was included in the arguments and pass it along to the query builder if so. This way you're not having to add an `Enum` and a `Directive` on the same fiel

[2018-05-08 18:14] chrissm79 commented on #105
Awesome, thanks for reporting the issue!!!

[2018-05-08 18:26] olivernybroe commented on #100
@chrissm79 Hmm I like the idea about looking at the `FieldInfo` object instead, that's pretty awesome.

[2018-05-08 19:03] chrissm79 commented on #106
@hailwood A lot of great questions here and I'll try to get to them after work!

Regarding the following question:

*How would I allow a user to only query certain fields or relations in a query based on a role (assume $user->role returns 'admin', 'user', or 'wholesaler') without breaking eager loading.*

This sounds like a great spot for a directive! So let's create one real quick:

[code]

And t

[2018-05-09 04:15] chrissm79 commented on #106
Alright, next question

**Question:**
*How would I define an external validation rule provider.*

With the current beta (`v2.1-beta.9`), the `@validate` directive can be used on both and argument w/ `rules` or a field w/ a `validator`. What you're asking about is the perfect use-case for a `validator`, but just as a refresher, here's how you would define rules for simple arguments:

[code]

This i

[2018-05-09 04:30] chrissm79 commented on #106
Next Question

**Question:**
*How would I allow a user to only update certain fields in a mutation based on a role (assume $user->role returns 'admin' or 'user').*

This one is a bit difficult because there's several ways to attack this problem.

First, you could just extract the arguments you need based on the user's role inside the resolver function. Not the most elegant solution since you'd hav

[2018-05-10 08:17] crisu83 opened #109 "New GraphQL implementation"
Hello Maintainers,

We have been working on a new PHP implementation of the GraphQL specification and we are closing in on a version 1.0 release. I just wanted to stop by and mention this to see if you're interested in teaming up with us. There is a Slack for the project where we can invite you.

The repository can be found here:
https://github.com/digiaonline/graphql-php

Best,
Christoffer

[2018-05-10 20:54] chrissm79 commented on #109
@crisu83 Thanks for reaching out!!! Lighthouse is pretty heavily dependant upon `graphql-php` but I'm always open to considering alternatives! Quick question for you, do you have a way to handle N+1 issues in your project? For instance, `graphql-php` provides a [Deferred](http://webonyx.github.io/graphql-php/data-fetching/#solving-n1-problem) class that works similar to a [Dataloader](https://gith

[2018-05-11 07:03] crisu83 commented on #109
Hello @chrissm79,

We have a similar Promise based approach built on top of `react/promise`. My colleague @hungneox can tell you more about it as he is the one who implemented it.

I've heard that people have had trouble implementing features like [Schema Decorators](https://dev-blog.apollodata.com/graphql-schema-decorators-3c01a445b628) on top of `webonyx/graphql-php`.  Our library has been built

[2018-05-11 23:45] alexwhb opened #110 "Is there a way to get the schema.json output like lighthouse v1 had?"
So first off lighthouse v2 is awesome!!!! great work! It's so much more simple than v1. I'm currently working on upgrading a project to using lighthouse v2 and I'm getting stuck updating to Relay Modern, because it requires either the schema.graphql or schema.json file to compile the static files from, but it does not recognize the fields when you do things like this `someFeild: [Type!]! @paginate

[2018-05-12 06:00] kikoseijo commented on #110
The power of a single schema its awesome,
I think you missing a query with relationships,
What about the example projects?
https://github.com/nuwave/lighthouse-example

[2018-05-12 08:27] kikoseijo commented on #110
Just another tip, on the React side with Relay Modern, im using commands like:

`yarn db`

[code]

[2018-05-12 11:04] hailwood commented on #106
Hey @chrissm79 Sorry to bug you, just checking you are aware the first question was there - "How would I add additional fields to a paginated relationship?" I imagine this is going to be quite a common one so would be good to get a canonical answer :)

--
Matt

[2018-05-12 12:42] olivernybroe commented on #109
@crisu83 Sounds neat,
Have you guys done any performance testing compared to the two other graphql libraries out there?

[2018-05-12 13:08] crisu83 commented on #109
@olivernybroe yes we have and our library performs well compared to the other implementations, in fact on PHP 7.2 we are a bit faster than the others.

We are also working on Relay support, see https://github.com/digiaonline/graphql-relay-php for more info.

[2018-05-12 13:54] hailwood opened #111 "Argument filters are not optional"
Take the following schema

[code]

I'd expect to be able to query

[code]

To be able to get all the users whose names start with "Dr".
Unfortunately due to `id` not being passed the query gets `AND "id" IS NULL" appended, Which obviously isn't what we want! We need to be able to query via just name or just id

[2018-05-12 14:02] hailwood opened #112 "Need a directive for a single model query"
Right now if we're doing a query for multiple models we have the fantastic `@paginate` directive.
Unfortunately I cannot find anything similar for a single model.

Do we need to add a new `@find(model: "App\\User")` directive to allow the following

[code]

[2018-05-12 14:06] hailwood commented on #84
@chrissm79 / @olivernybroe did we get anywhere with defining `@globalId` on a filter?
I can't seem to get this to work? (no errors, just not decoded)

[2018-05-12 14:27] hailwood opened #113 "Relationships with meta data"
While asking one of my "How do I..." questions - [specifically this one](https://github.com/nuwave/lighthouse/issues/106#issuecomment-387268184) I realised this likely warrants some external discussion.

Right now I'm thinking that the ideal way to do this if we have some additional meta data is going to be manually setting up a link model e.g. `UserCompanyLink` and then rather than using `belongs

[2018-05-12 16:16] olivernybroe commented on #84
@hailwood, I haven't tested it, but it might work if you add the @globalId directive before the filter directive.

[2018-05-12 18:27] olivernybroe commented on #112
Can't you just use the node endpoint and then use the global ID?

[2018-05-13 07:25] olivernybroe commented on #112
Yep, got it. So should the directive be called find or should it be called first?

[2018-05-13 08:04] hailwood commented on #112
I think that depends on whether we want to throw an error if the query would return more than one result? To me I feel it would likely be an error if the built query wasn't specific enough to nail just one result?

[2018-05-13 08:25] alexwhb commented on #110
@kikoseijo Thank you so much for your detailed explanation. This is soooo helpful. 👍

[2018-05-13 08:28] #110 closed

[2018-05-13 09:29] olivernybroe commented on #112
Maybe we should have both? Both of them should be easy to make, and I can see a use case for both of them. So find requires the result to only return 1 row, while first just takes the first result.

[2018-05-13 09:35] kikoseijo commented on #112
Hummm,

Im a bit amazed, seems we want to be able to do all with a single schema definition?

Don't know about you, but when you can resolve a query using a repository, a class method, or ... isn't better to have a Eloquent repository and use one of your hand made methods to resolve this queries?

Just some thoughts.

 🤯

[2018-05-13 09:46] fubhy commented on #109
I can confirm this. The code quality of https://github.com/digiaonline/graphql-php is outstanding and I also did quite a few performance comparisons. I am the maintainer of https://github.com/drupal-graphql/graphql and we are already in the process of switching to it now :).

[2018-05-13 09:46] kikoseijo commented on #113
@hailwood did you see this?
https://github.com/chrissm79/lighthouse-belongs-to-many

I found very useful the `getFieldAttribute` on models to do most of the hard work on relationships.

[2018-05-13 09:59] kikoseijo commented on #111
You are right @hailwood , probably your example isn't the best, because by the id you will only be able to get 1 record, right?

 ill change it to `email` instead of `id`, and you will get same results, when you try to search for name like `Dr%` and email its null.

We probably need some filtering similar to:

`$request->filled('email')`

And then if its not present on request we can avoid it.

Do

[2018-05-13 10:04] olivernybroe commented on #112
@kikoseijo What some of us is aiming for is basically defining our whole query with directives. And when we have more advanced queries, then have a custom scope to handle that.
However this package does not limit us to one approach which I like a lot, so we can easily use a repository pattern or just use the query builder directly.

I got a big system which I have been able to easily translate to

[2018-05-13 11:04] hailwood commented on #113
Hey @kikoseijo yep that works great for belongsToMany, unfortunately it doesn't help with the case where the relationship has extra data attached to it (e,g, if you want the date the car option was added)

[2018-05-13 11:51] kikoseijo commented on #113
@hailwood what about this?

[code]

This works,  here its a project for you to test it, last commits have the adjustments.

https://github.com/kikoseijo/lighthouse-example

Here its the query used:
https://github.com/kikoseijo/lighthouse-example/blob/master/GraphQL-references.md

[2018-05-13 20:28] hailwood commented on #111
@kikoseijo yeah you're right, the example isn't the greatest, I just wanted to add two filters, probably could have gone with `@in` instead but oh well.

That idea almost sounds right, I'm just not sure how to deal with if the user actuallys wants null..
I wonder if we need to do some special processing and look for the strings `IS NULL` or `IS NOT NULL` and apply a `whereNull` or `whereNotNull` r

[2018-05-13 20:36] hailwood commented on #113
@kikoseijo I had originally thought about nesting them under the model, and I'd be happy to be wrong on this, but let's say we're displaying a page that lists all uncompleted tasks per user.

If user A is linked to task A with the pivot_field being `foo` and user B is linked to task A with the pivot_field being `bar` then when we again grab task A for user B's list, won't that also make it appear

[2018-05-13 21:13] kikoseijo commented on #113
Now I get you point @hailwood the cache error I see it happening if both users use same device.  Relay cache its done inside devices, but you can use different stores and avoid caching problems, cache its not configured by default, needs be programmed, as far as I now in Relay.

I can clearly see  your point and the problem when a  server side cache its applied.

Pivot information will be always l

[2018-05-13 21:25] kikoseijo commented on #111
Ill go for checking the existence of a field even if its empty, if it exists on query vars then process, otherwise skip-
I have done some hardcoded `(string) "NULL"`, but, you know, this isn't Laravelish!

[2018-05-14 09:38] crisu83 commented on #109
@chrissm79 @olivernybroe Let me guys know if you want that Slack invite.

[2018-05-14 11:06] hailwood commented on #109
@fubhy How are you finding the process of switching? A lot of work?

[2018-05-14 13:37] olivernybroe commented on #109
@chrissm79 Could be nice if we switched to a driver-based solution, so we just have to implement an interface for making DigiaOnline's graphql work. Having that would also give us the power to actually have support for both of the graphql implementations, by just shifting the driver.

[2018-05-14 16:50] chrissm79 commented on #109
@olivernybroe A driver option is a great idea! Not sure how much work is involved but it looks like it could really be worth it.

@crisu83 A slack invite would be great, thanks!!

[2018-05-14 19:51] olivernybroe commented on #109
Slack invite here too thanks :)

[2018-05-14 19:58] olivernybroe commented on #109
@chrissm79 yeah, not sure too about how much work it requires. But I think we should aim for that and implement digiaonline that way.

[2018-05-14 20:36] alexwhb opened #115 "How do you resolve global id's in v2?"
So I'm currently upgrading an old project from lighthouse v1 to v2 and the seemingly last thing I am getting stuck on is resolving global ID's for data types. I'm implementing Node on my type like this:

[code]

but then when I go to query _id which is defined on the node I get this error: `Cannot query field \"_id\" on type \"User\".`

I looked at the tests and saw the @node directive, but I coul

[2018-05-14 20:46] chrissm79 commented on #115
Hey @alexwhb, so you just need to add the following to your schema file:

[code]

We're using 2 directives here. The first one is `rename` which will return whatever `attribute` you provide it (in this case it will use the `id` on the `User` model). The second directive `globalId` will convert the `id` to a Global ID that Relay should understand.

That's it! Let me know if you have any other quest

[2018-05-14 20:49] alexwhb commented on #115
@chrissm79 Thank you so much!! This worked like a dream! Seriously v2 is by far the best graphQL library I've used!

[2018-05-14 20:49] #115 closed

[2018-05-14 20:56] chrissm79 commented on #111
@hailwood In my mind, the way that it would work should be if the `id` and the `name` is passed in the query (or variables) then process it, whether it be `null` or not. If the argument is excluded then skip it. So:

[code]

would skip the `id` query, but if `null` where provided as a variable then it would include it in the query. Regardless, right now it is processing everything so I'll get it u

[2018-05-14 21:13] chrissm79 commented on #111
@hailwood The latest commits to master should resolve your issue. Give it a try and let me know!

https://github.com/nuwave/lighthouse/blob/master/src/Support/Database/QueryFilter.php#L64-L67

[2018-05-14 22:09] chrissm79 commented on #115
Thanks @alexwhb, I'm really happy with the way it turned out too 😄

[2018-05-14 23:01] hailwood commented on #109
While the clear benefit is that if either of the packages ends up unsupported it would be relatively easy to switch out for the other, I'm wondering what the benefit would be outside of this for being able to support both packages?

The underlying library seems like it should be something that lighthouse is built to take full advantage of rather than being restricted to generics?

I'm just a bit c

[2018-05-14 23:02] hailwood commented on #111
Thanks @chrissm79 ,

Will give this a go this evening and report back.

[2018-05-15 01:10] chrissm79 commented on #113
@hailwood So my initial thoughts are pretty close to what @kikoseijo mentioned. Technically, you could do the majority of this the way it's was listed in the example, but we could benefit from a `@pivot` directive here as well.

So, w/out creating your own directive, you could do the following

[code]

Then your resolver class would look something like this:

[code]

To be completely honest, I'm g

[2018-05-15 01:15] chrissm79 commented on #106
@hailwood Sorry this one took awhile! Take a look at the answer here:
https://github.com/nuwave/lighthouse/issues/113#issuecomment-389010479

[2018-05-15 05:16] kikoseijo commented on #115
I just use the id, but change it on the lighthouse configuration file, it defaults to `_id`,

[2018-05-15 06:46] crisu83 commented on #109
@chrissm79 @olivernybroe Here's the link, it's only valid for 24 hours so be quick.
https://join.slack.com/t/digiaopensource/shared_invite/enQtMzYzMTU5NzkzMTg0LTljMjBlOTgwM2RmMWI2NTViNmVmMDc3ZDIzZjQ4MTAwYzIyYThmNmFhYTkzNjY2NDdkN2Y5ZjU4YjExZDcxMmY

[2018-05-15 06:59] olivernybroe commented on #109
@crisu83 thanks for the invite.

@hailwood I get your concern, but I still think we should do it. However I think we should be clear that our driver interface should require all the features we need, and then it's the drivers job to meet our criteria. Of course this means some drivers won't work as they e.g. Don't have custom directives or relay support. But we wouldn't be able to use the drivers

[2018-05-15 09:16] hailwood commented on #109
@olivernybroe What happens if a user wants to submit a PR later to add a new feature, but only driver X supports it? Would it be that users responsibility to first submit a PR to driver Y to add support for that feature to that driver before submitting the PR to lighthouse?

[2018-05-15 09:46] olivernybroe commented on #109
@hailwood That issue would also be there if we were only running driver Y.
But I don't mean that we should maintain multiple drivers in Lighthouse, we should only maintain one driver, in the same way Laravel does.
So I for example really wanted to use another graphql implementation then the one provided by Lighthouse, I could create a package with that driver and then just add the package this way

[2018-05-16 00:35] latheesan-k opened #116 "Syntax Error GraphQL (26:2) Unexpected <EOF> 25: # Auto Complete: Ctrl-Space (or just start typing) 26: # ^"
Hello,

I came across this video https://www.youtube.com/watch?v=y19EaW2X7ac loved the idea of schema first GraphQL implementation and wanted to try it out. I've setup a blank Laravel 5.6 project two simple models `User` (_hasOne_) and `Profile` (_belongsTo_).

This is my **routes/graphql/schema.graphql**

[code]

and my **App\Http\GraphQL\Query@profiles** (resolver)

[code]

When I run my app and

[2018-05-16 00:40] #116 closed

[2018-05-16 00:40] latheesan-k commented on #116
This error only occurs in the chrome extension https://chrome.google.com/webstore/detail/chromeiql/fkkiamalmpiidkljmicmjfbieiclmeij?hl=en - the api is working fine on https://electronjs.org/apps/graphiql (tool being used in the video).

[2018-05-16 10:30] crisu83 commented on #111
@hailwood I'm not sure I understand the underlying issue, is it a bug? If so, could you please provide some more information on how it works now and how it should work? We can take a look at this once I have some more information.

[2018-05-16 10:30] kikoseijo commented on #116
Get GraphQL Playground, its better.

[2018-05-16 11:08] hailwood commented on #116
@kikoseijo I can do you one better https://altair.sirmuel.design/

[2018-05-16 11:15] hailwood commented on #111
Great job @chrissm79,

Everything is working perfectly :+1:

[2018-05-16 11:15] #111 closed

[2018-05-16 21:45] morpheus7CS opened #117 "[Feat] Schema validation constraints"
Hey,

just noticed this tweet by Sashko Stubailo, about using schema validation constraints. It seems that with your extensible directive system, it could be something that could be implemented in future versions of Lighthouse 2.x:

Link to tweet: https://twitter.com/stubailo/status/996825793660571648?s=21

Great work by everyone on this so far, amazing to watch from the sidelines.

[2018-05-16 21:53] alexwhb commented on #117
@morpheus7CS I think this is already a part of light house if I understand what you are saying with the `@validate()` directive. see issue #106 for an example.

[2018-05-16 21:57] morpheus7CS commented on #117
Amazing, totally missed that!

[2018-05-16 21:57] #117 closed

[2018-05-17 10:35] KubqoA opened #119 "Getting the user from context doesn't work out of the box."
Hi, during the video walkthrough I got the authentication part and to injecting the logged in user's id out of context. However, this didn't work for me. I created a simple api route to get the current logged in user using the same way as the default context defined in your GraphQL controller does. I found out that when using the api endpoint with the `auth:api` middleware it worked fine. So it go

[2018-05-17 21:54] mits87 opened #120 "Laravel Getters issue"
Hi,

I have two models Account and User.
The relation is: account has many users

My type definitions:

[code]

and I make a query:

[code]

After execute I got an error:

because the limits is a getter in Account model.
Do you have a solution for use getters?

[2018-05-17 22:31] alexwhb commented on #120
@mits87 did you define that relationship resolver on your eloquent model?

[2018-05-18 09:58] olivernybroe commented on #119
Pretty sure it should be `@inject(context: "user.id" name: "user_id")`.

[2018-05-18 12:20] mits87 opened #121 "Does group middleware works?"
Hi,

I tried use middleware in my queries and mutators like:

[code]

unfortunately it doesn't work.
How can I use the middleware in my Queries / Mutators  etc. ?

[2018-05-18 13:56] kikoseijo commented on #121
Should post your full schema. could be many things, and when you are working on middleware more,

Just a guess:: you probably missing the `extend type Query`. This is when you using more than 1 type query definition.

Another guess: make sure it works without graphql, you can always build the middleware in a route and just call the default one something like:

[code]

[2018-05-18 15:10] mits87 commented on #121
Hi,

thank you for your response.
First of all my middlewares works.

My full schema:

**auth.graphql**
[code]

**schema.graphql**
[code]

After execute query:
[code]

I got:

And I would like use middleware in my schema.
It will be more readable.  I don't want create separate routes for graphql because I would like keep everything with this abstraction in one place.

Any solution?

[2018-05-18 15:12] kikoseijo commented on #121
You error its at javascript level......
need to go deeper.

Why don you try to make the call with a simple rest client? see what server response its but must of the time even that its not very helpful.

[2018-05-18 16:40] olivernybroe opened #123 "Add automated tests for Lumen"
I think we need to setup automated tests to run on Lumen also.
It is too often we end up breaking Lumen, because we don't have any tests telling us we did.

[2018-05-18 17:38] alexwhb opened #124 "Is there an easy way to make a relay friendly create Mutation?"
So currently I'm trying to make a create mutation that has the edge and a client mutation ID so that my mutations are easy to manage on the Relay side.. is there a somewhat easy way to do this? I am getting errors when just using the `@create()` directive, which is not too surprising. I was thinking of doing a `@field(resolver: "some resolver")` but I'm not really sure how you resolve multiple unr

[2018-05-18 17:49] kikoseijo commented on #124
Isn't UserLibraryEdge defined in User?

you payload should just be viewer: User!

then your query response you just do something like:

[code]

[2018-05-18 17:51] alexwhb commented on #124
@kikoseijo First off thanks for the quick response. Oh really?? don't I need to send back the `clientMutationId` too? And ya UserLibraryEdge is defined in User.

[2018-05-18 17:53] kikoseijo commented on #124
YEs, the client mutation you should need to update your mutation,
But you do that by hand if you want, by `md5(modelNAME:id)`

[2018-05-18 17:57] alexwhb commented on #124
@kikoseijo won't that ID cause problems if I ever do an update mutation, since relay will then receive the same clientMutationId? From what I've read the point of the clientMutationId is to have a unique identifier for relay to flush it's local cache, but in this case if you where to say add a new record then update that record with the same client mutation id since `md5(modelNAME:id)` will be the

[2018-05-18 18:04] kikoseijo commented on #124
You only need to add the id when creating a new record.
If you pulling that record after the update im not sure if relay will update from que query, but ir should.

[2018-05-18 18:05] alexwhb commented on #124
@kikoseijo very good to know. Hey thanks for your help. I so appreciate it.

[2018-05-18 18:05] #124 closed

[2018-05-18 18:06] kikoseijo commented on #124
BTW: if you responses are not right, relay will let you know, don't you worry about it.
This is the reason im starting with Relay before move to Apollo.

[2018-05-18 18:10] alexwhb commented on #124
@kikoseijo that's very true... it complains a lot. lol Apollo is much more lax. I use Apollo on a Node stack for a side project I have, and I have to say... I think Relay is better. Vuex or Redux or what ever data store you end up with end up being a lot more manual and difficult to manage in my opinion.

[2018-05-19 19:54] 4levels commented on #88
Hi @chrissm79,

I'm finally able to get my hands dirty on this, but I'm a bit struggling how to go about, well, everything :-)
Am I supposed to simply do `composer require nuwave/lighthouse-ws` in my current project (alongside with lighthouse itself)?

And how do I then define a subscription directive in the schema?
Let's say I want my end users to be able to subscribe to eg. a list of posts so th

[2018-05-20 23:47] tolu360 commented on #88
Hello @chrissm79, superb work you have done on this so far. Kudos!

Please, is there any chance we might get a video walkthrough for `Subscriptions`? I believe one would be very apt. Thank you!

[2018-05-21 18:53] 4levels opened #126 "Help with @globalId and default node query [relay]"
Hi all,

I've been quite struggling with retrieving records based on their globalId.  If I'm not mistaken, I should be able to use the (automtically added) `node` query to retrieve a model by it's globalId, correct?
However, I keep getting the following error:
```"[Image] is not a registered node and cannot be resolved.",```

This is my (abbreviated) schema:
[code]

The node query is constructed a

[2018-05-21 19:01] 4levels commented on #120
Hi @mits87,

I'm not sure how to help here, but there seems something wrong with the getter return data from your previous comment as I've never seen array keys being arrays themselves, are you sure your previous code sample is correct?
Or should it be written as below?
[code]

[2018-05-21 19:12] alexwhb commented on #126
@4levels I ran into the same thing. Ref: #115

[2018-05-21 19:53] 4levels commented on #126
Oh my, I should have been reading the closed issues as well!
@alexwhb Am I correct to assume you left the `@globalId` out for brevity?

Well, the error did go away, (i did change the `global_id_field` config to read `'id'`) but only after using `class` instead of `namespace`, like so: (my Image model acutally lives in the `app/Models/Image/` directory)

[code]

Still, I'm not sure how this is help

[2018-05-21 20:08] alexwhb commented on #126
@4levels I'm not using `@globalId` in that context because it's not needed. I'm about 99% sure that directive is used for converting the globalId value back to a local id when you are using other directives that require the real model ID.

[2018-05-21 20:33] 4levels commented on #126
Hi @alexwhb,

I was convinced the globalId was the 'Relay way' of getting a record (to update it's cache etc etc) and should be used instead of the database id attribute when consuming the graphql data.  I thought I don't need to expose the real database id at all when working with Relay as I can always use the globalId instead and this would ensure the records are always correctly referenced sinc

[2018-05-21 20:37] alexwhb commented on #126
@4levels You are totally right... the global ID is required for relay. That was my mistake in my previous answer. You should not be using the db ID's unless you have UUID's and even then... probibly not a good idea since you would not be able to use the node resolver, since it's doing a base64 encoding of your 'modelName:id' so it knows what model to resolve.

[2018-05-21 20:38] hailwood commented on #126
Hey @4levels the important thing to note is that @alexwhb is using fragments which you **must** use if you're using the `node` interface

[code]

[2018-05-21 21:03] hailwood commented on #126
Ah try moving the fragment out of your main query

[code]

[2018-05-21 21:04] alexwhb commented on #126
@4levels Sorry to hear that man. I'll say from my experience with JS implementations it's not better IMO, but maybe your experience will be better. In regards to your namespaces... if you put this in your composer.json file:

[code]

you should be able to reference any of your classes by their path's.
so here's like the mapping: /app/Http/SomeControllerName turns into /App/Http/SomeControllerName

[2018-05-21 21:21] KubqoA commented on #119
Okay, so I discovered what my problem was. The issue is that I didn't change the default auth guard to api, thus my authorization didn't work. When I switched the default auth guard to api everything worked liked charm.

However, I didn't want to change the default auth driver. So I looked for some help and this is my solution if anyone is interested. Firstly I added these lines to my ``lighthouse

[2018-05-21 21:21] #119 closed

[2018-05-21 21:35] t2thec opened #127 "Middleware advice"
Hey,

Firstly, thanks so much for lighthouse 2. Really epic package. Nice job.

I am just working through the lighthouse-example repo and can't seem to get the middleware working as expected...

[code]

Am I right in thinking the first example should work? I'd expect that you could add middleware per `route/query`? That way you could check on scopes etc.

I have also tried
[code]

Have I got the w

[2018-05-22 13:03] kikoseijo commented on #126
@4levels  some tips:

the `type User @model {`already implements the NODE, you can see it just inspecting the endpoint with a tool like graphql playground or others..

Also, think that you can have your models saved in any folder structure you want, as I see its the worst problem you showing, for example you can have things inside `App/Models/MyGroup/MyModel` and the *namespace* can just be `App/M

[2018-05-22 20:11] alexwhb opened #128 "Possible bug with query system"
So I'm running into an issue where if you try to use graphql aliases you end up with the second field's values every time no matter what. Is this expected behavior? I also can't tell if this is an issue with lighthouse or with `webonyx/graphql-php`

here's an example query
[code]

you'll end up with 2 orders from both (assuming that data exists), and they'll be the same.

maybe strange or not... b

[2018-05-22 20:53] kikoseijo commented on #128
Only a guess, you asking for x queries and what you get its what you asked for.
My guess in this example only second query executed as you can combine the 2 in 1 to get what you asking for.

Try adding a query with a search parameter that will offer you different results, *I love to know what happens then*

[2018-05-22 21:16] alexwhb commented on #128
@kikoseijo I've added a scoped parameter to one of my queries with basically a search field. When I set a breakpoint at the scope resolver it gives me the args from only the last query. It's very odd.. my guess is there's something that's scoped in such a way that this situation was not expected to happen. If I get some time I'll dig into the source code a bit and see what I can find out.

[2018-05-22 21:19] kikoseijo commented on #128
@alexwhb I think params goes on its own place and they get merged at client level.
its probably at client, you going to have to define different field name, so makes it a full new query.

Hope it helps.

[2018-05-22 21:19] alexwhb commented on #128
@kikoseijo good call. That'll be my temporary fix for sure. Thanks for the advice.

[2018-05-23 10:34] 4levels commented on #72
@kikoseijo can you explain a little more how you managed to get sorting with scopes working?

I've been fruitless in trying to allow sorting to be passed as an argument by graphql.
I added the orderBy argument and scope option to the paginator directive, like so
[code]

However, as soon as I try adding an orderBy clause to the query (see code below) it doesn't return any results anymore (which see

[2018-05-23 11:35] morpheus7CS commented on #72
@kikoseijo Yes, as you can do Model::orderBy('some_attribute') on all Eloquent models I think.

[2018-05-23 17:14] chrissm79 commented on #128
@alexwhb There indeed does seem to be an issue w/ the paginator when querying the same field while assigning different names. If I query a field that is not a relationship w/ different args it works as expected which leaves me to believe that it is an issue w/ this package rather than a `graphql-php` error. Off the top of my head I'm thinking it's related to the `QueryFilter` but I'll report back

[2018-05-23 18:09] alexwhb commented on #128
@chrissm79 Thanks for your prompt response. No rush, but I'll definitely be interested if you can resolve this issue. If I get some free time I'll dig around too.

[2018-05-23 18:09] chrissm79 commented on #128
Hey @alexwhb I believe I found the issue and resolved it with the [latest commit](https://github.com/nuwave/lighthouse/commit/83bc9f892cc35af0d279d8ac1b5bfa82eb8dcd76) to `master`. Give it a try and let me know if that resolved the issue for you!

[2018-05-23 18:10] alexwhb commented on #128
@chrissm79 You're the best! I'll give it a go and let you know.

[2018-05-23 18:22] chrissm79 commented on #127
Hey @t2thec, @hailwood nailed the response. Currently, the `@group` directive can only be placed on the `Query` or `Mutation` types. If you want to wrap authorization around other types, you would have to add it to a field with the `@can` directive like so:

[code]

However, for your case I think extending the `Query` type would work best like so:

[code]

Let me know if you're still running into

[2018-05-23 18:27] alexwhb commented on #128
@chrissm79 just tested your latest commit. Works like a dream! Thank you so much. :+1:

[2018-05-23 18:33] #128 closed

[2018-05-23 18:36] chrissm79 commented on #126
@4levels Sorry for the delayed response! And sorry to hear about the struggles you were experiencing.. I can tell you that I walked away from PHP/GraphQL for about a year to work w/ Node because of how many tools were available, but I could never find a ORM as powerful as `Eloquent` which led to other frustrations (however, I'm glad I went down that route because it provided a path to v2.0 of Ligh

[2018-05-23 21:14] hailwood commented on #106
**Question:**
How would I apply different middleware to different queries?

**Example Use case:**
Imagine we have some "catalog" type methods that list things such as categories, these should be accessible by anyone, then we have other queries e.g. listing contacts which should only be accessible by authenticated users.

**Answer:**
[code]

[2018-05-23 21:18] #113 closed

[2018-05-24 09:19] 4levels opened #129 "[Docs] How to get a paginator using different models? @union or @interface directive"
Hi all,

I'm currently experimenting with the following use case, which seems like a perfect task for the `@union` directive.

I have an Image and a Slogan model that have very similar properties and I need to have a mixed list exposed by graphql, combining the two types into one list.  This should be a paginator from the Relay perspective.

From what I can read in the docs and unit tests, I'm not

[2018-05-24 10:29] 4levels commented on #126
Hi @chrissm79,

Thanks for your reply and update instructions on how to tackle this.  As you guessed it already, I did manage to resolve it with help of the great people using lighthouse :+1:

[2018-05-24 10:35] 4levels commented on #129
Just a fair warning ahead: when working with Eloquent unions, there's an old (as in 2 years old) issue in laravel that prevents pagination from working correctly out of the box.

See https://github.com/laravel/framework/issues/14837 for a solution, seems we might need to work with a fork of Laravel since the proposed solution never made it in :disappointed:

[2018-05-24 10:57] 4levels commented on #129
Ok, after stumbling on the forementioned laravel issue, this is how far I've come in my efforts to make a combined list of both models with pagination.  It currently still returns only one type (Slogan) and I'm sure I'm doing quite some things wrong here.
I think a dataloader might be the solution?
The `@rename` attribute is currently not working either (just like any of the other uncommon fields)

[2018-05-24 11:29] 4levels commented on #129
Hi @kikoseijo

I just pulled the latest branch, but since my approach is pbbly all wrong, I'm getting identical results
Do you have experience with the `@union` directive?

Thanks for the quick reply!

Erik

[2018-05-24 15:57] chrissm79 commented on #129
Hey @4levels, I think some docs would probably help clear this issue up a bit which I've been lagging behind on and that's my fault. But hopefully I can get a `faqs` section up along w/ some additional scenarios about when to use certain types/directives sometime soon!

I think you may be confusing a SQL `union` statement w/ a GraphQL `union` type. Check out [this section](https://graphql.org/lear

[2018-05-24 16:40] 4levels commented on #129
Hi @chrissm79,

thank you for your detailed answer, I'll be getting back to trying this asap!

As a workaround (to get things going) I ended up with adding a new model Submission that was supposed to encapsulate both Images and Slogans using PHP's inheritance.  I tought why bother GraphQL with this if I can handle this on the PHP level.  This however was way more challenging than expected since th

[2018-05-24 18:21] 4levels commented on #129
Hi @chrissm79, I still have some more questions, but the previous comment was already getting very lengthy...

Why is there no `@model` directive in `schema.grapqhl` for `Post`, `Video` and `Comment`?
Obviously I'm mostly interested in the relay implementation, with `@globalId` and `@paginate (type: "relay")` since my React Native frontend is depending on that, but the behaviour is identical, whet

[2018-05-24 19:50] 4levels commented on #129
Hi @chrissm79, that would literally make my day!
Not getting the update though.. (neither does it show in Github - last commit is the merge PR from yesterday)

[2018-05-24 19:55] chrissm79 commented on #129
@4levels sorry about that! didn't realize I got an error because I did pull down the latest changes... give it a try now

[2018-05-24 19:57] 4levels commented on #129
WTF, now Passport is throwing fatal errors because it updated from 6.0.0 to 6.0.1
Unbelievable!

[2018-05-24 19:58] 4levels commented on #129
Luckily fixing the version to 6.0.0 fixes it, what's in their coffee?

[2018-05-24 20:04] 4levels commented on #129
Hi @chrissm79,
You have no idea how much stress is running off me just now after seeing the actual polymorphic models show!  Thanks a zillion million times for looking into this so promptly! Voodoo seems over now (besides the Passport hickup), yeah!  Finishing up some more stuff here and going to sleep completely relieved (it's 10pm over here).

[2018-05-24 20:09] 4levels commented on #129
Oh, and this seems to do the job perfectly and allows for any kind of model class you throw at it :smile: :
[code]

[2018-05-24 20:19] chrissm79 commented on #129
@4levels Looks like there's some sort of [issue](https://github.com/laravel/passport/issues/717) w/ v6.0.1, weird. I'll be sure to circle back to it later, the project I'm working on uses Passport as well.

That's not a bad idea to resolve the instance, it could do a `is_object` check and run the code you supplied or fallback to it's current behavior. Feel free to submit a PR for that if you'd lik

[2018-05-24 20:31] 4levels commented on #129
There you go ;-)
[PR #130](https://github.com/nuwave/lighthouse/pull/130)

[2018-05-24 20:54] 4levels commented on #129
Hi @chrissm79,

testing this seems a bit beyond my comprehension as it seems the actual directive is not being used in the test, but a test resolver instead.  Not sure how to go about that.

I added a function in the testCase called `schemaWithoutResolver`, as a copy of the existing `schema()` function, and tried to use that, but the test keeps failing as soon as I remove the resolve attribute in

[2018-05-24 21:09] 4levels commented on #129
Ok, one last question that brings me back to the very beginning of this issue:

How should I go about implementing a mixed list of models that share some properties?  Just as seen in the search results example on the GraphQL docs (this is actually an even better scenario!)

Do i NEED an Eloquent model to pull this off?  I'm still trying things out a bit, so not in a hurry atm..

Thanks again!

[2018-05-25 08:17] 4levels commented on #129
Enough trying ;-) but still no luck :-(

I even tried using the "virtual" model class of [jenssegers/model](https://github.com/jenssegers/model) but still I'm failing to use the `@union` directive since it seems to depend on an actual QueryBuilder..
Even after adding the `newQuery` and the `HasRelationsship` trait method returning a query doesn't seem to help.
[code]

Somehow I feel like I'm [_usi

[2018-05-25 09:33] 4levels commented on #129
I've been trying to get things going with the `@interface` directive instead, but still no luck.
Isn't there anyone out there that can assist, besides @chrissm79 but I guess he's still sleeping atm since it's 2AM there ;-)
cc @kikoseijo maybe?

`schema.graphql`, currently without pagination in the search query, as this requires a `model` attribute:
[code]
Maybe there's another bug in Lighthouse as

[2018-05-25 10:42] kikoseijo commented on #129
you need a query resolver or, yes, a model.

[2018-05-25 10:54] 4levels commented on #129
Hi @kikoseijo,

thanks for the quick reply, but I can't seem to get a resolver to work with the `@paginate` directive, since it requires a Model.  Since the SearchResult (or Submission, just a name) is not an actual model, it seems like I'm in a chicken and egg situation here: no relay pagination or a non existing model..

I'm sure there is a very simple way but aparently there's still another bug

[2018-05-25 13:10] spawnia opened #131 "[Feat] CRUD and Nested Mutations"
I am currently trying to build an API on top of an existing Laravel backend, using [laravel-graphql](https://github.com/Folkloreatelier/laravel-graphql). Querying data seems to work fine, although the amount of boilerplate code is quite high.

However, i found myself struggling with implementing mutations.

We have 2 major requirements that make it quite hard:
1. We have quite a complex schema wit

[2018-05-25 19:37] t2thec commented on #127
LEGENDARY!! Thanks so much @chrissm79 and @hailwood. I had not seen the `@can` directive. A combo of both your suggestions @chrissm79 is exactly what I need. So powerful.

I love this package! Thanks again.

[2018-05-25 19:37] #127 closed

[2018-05-25 19:56] olivernybroe commented on #131
For your question about generating code, you should look into making a custom directive. Then you can make that pretty much do whatever you want.

[2018-05-25 20:20] kikoseijo commented on #129
Interface with a resolver? hummm... Can you do that? no idea,..

You can build pagination on your own like this:

`this is just and old code copied from the initial v2 version`

[code]

[2018-05-25 20:54] 4levels commented on #129
Hi @kikoseijo,

thanks for providing this!  Just to make things clear: where should I add this `resolve` function in a relay context?  I'm sure you know by now that the `@paginate` directive needs a `model` attribute and doesn't work with a `resolve` function.  I'll experiment a bit, but this kind of trial and error approach is very cumbersome to say the least.

As far as I understand, the `@inter

[2018-05-25 20:57] kikoseijo commented on #129
In your query , just build a simple query and do what you want there....

Take this in consideration:
No Mather what you building the response to send on the resolver must be same type you define in your schema.

To make it simple: imagine you only working with arrays, build an array and send to your response.

[2018-05-25 21:08] kikoseijo commented on #129
Maybe this helps:

https://github.com/nuwave/lighthouse/issues/70

 Was building a pagination by hand using original pagination directives `@hasMany`..

The trick was mention before was: (trying to explain better here)

Behind the scenes lighthouse can query records, but when you get to work with complex records best its build your own resolver.

Now, for the second part to work, thinking you not

[2018-05-25 21:38] 4levels commented on #129
Hi @kikoseijo,

once again I'm overlooking closed issue like the one you mentioned, despite me searching really hard on this!
With a Query class I was already able to get results, but the interfaced type would always return null, I guess the forementioned issue of the resolveType function never being called is to blame here..

Anyway, working with React Native has been proven quite challenging as

[2018-05-25 22:59] chrissm79 commented on #131
Hey @spawnia, I was originally going to do something like this for v2.0 but it quickly spiraled into a much bigger issue than I originally thought. I've built on my initial ideas and I could see a nested implementation that would look something like this:

[code]

There's a ton going on here, but this is something I think could work for most use-cases while also allowing for custom validation and

[2018-05-26 10:30] spawnia commented on #131
Thank you for your quick answer, i like what you planned so far. It clearly shows that you have been thinking about this a lot.

What i would suggest for a first working version is to leave out the additional configuration options for `@model` and focus on just making CRUD operations work. It should be challenging enough.

We might be able to cut down on the necessary configuration even more if we

[2018-05-26 14:12] chrissm79 commented on #131
@spawnia, really appreciate the feedback!!!

So, defaulting `crud` to `true` would probably be the way I'd go if CRUD were released with v2.0. However, now that people are using it I think the safer route would be to add a config option that allows users to default that option to `true`, that way they're aware of what's going to happen.

I should probably set some expectations about how CRUD will

[2018-05-26 15:09] olivernybroe commented on #131
@chrissm79 I like the idea and I think this should be in Lighthouse. However I think we soon need to figure out what we want to be part of Lighthouse and what should be a package.

[2018-05-26 16:03] chrissm79 commented on #131
@olivernybroe Couldn't agree more! I think it's reasonable to have Lighthouse optionally include some basic CRUD, but beyond that it should probably be a separate package that manages a more complex schema.

But that's the beauty of Lighthouse, a complex crud system can be generated with a custom directive!

[2018-05-27 09:47] olivernybroe commented on #131
@spawnia It is possible to do this in Lighthouse. I am for example working on a filter directive which generates the filter methods automatically based on the fields  and gives support for filtering relationships fields recursively also. All of this is done with a directive.

I think when you are making this, you will realise that you don't need to change anything in graphql and this could actuall

[2018-05-28 14:59] 4levels commented on #129
@chrissm79 Did you get a chance to have a look why the resolver defined in the `@interface` directive never seems to be called?  Thanks in advance!
By the way: impressive work you've been doing in the `@crud` directive! (I was already wondering what was keeping you occupied ;-) )

Thanks again!

Erik

[2018-05-28 15:47] chrissm79 commented on #129
@4levels sorry, didn't realize there was an issue!

I have the following schema and everything seems to be working for me w/ the polymorphic relationship (the `InterfaceResolver` function is being called correctly):

[code]

[code]

[2018-05-28 16:36] 4levels commented on #129
HI @chrissm79,

thanks for getting back so quickly!  I'll be giving it another try anytime soon.
Am I correct to assume that you did add a polymorphic Eloquent relation?
So maybe a quick question: how would you go about this if you wanted a comments `relation` on a `User` model so I can paginate through it using relay?

Some more questions: from my understanding the relation would make sense if I'

[2018-05-28 17:28] chrissm79 commented on #129
Hey @4levels,

Yes, in my example project `commentable` represents a Polymorphic relationship. To get `comments` from a user, that's just like any other relationship (if you have a `user_id` foreign key on the comments table). So it would look like this:

[code]

As for the `Submission` question, I think that's more of a query question rather than a GraphQL question. GraphQL can represent a mixed

[2018-05-28 18:58] 4levels commented on #129
Hi @chrissm79,

thanks again for the elaborate explanation!
The reason I'm so stubbornly looking for a relation instead of a query is that from the relay perspective, they kind of like to have all graphql queries be related to the current user (`viewer` or `me`), which means every record should be somehow related to a user..
I guess I'll be saving myself much more headaches if I'd just let go of t

[2018-05-29 13:07] kikoseijo commented on #131
Hello people, big feature here,,,

Why not just make a `@resource`, and point to a class as we doing with routes?

Life should continue as it was,,, some people will use a controller some will use a repository,,,

Laravels naming conventions should work for any class provided, otherwise will look into the repository.

**Keep it simple!**

[2018-05-30 09:51] EslamNasser opened #134 "Can't get @group directive to work"
Lighthouse version: 2.1-beta.5 for lumen support

Hello, i'm using lumen with lighthouse and everything is working perfectly except for the @group directive as i want to apply an auth middleware to a group of queries. Every time i try to execute one of the queries in that group it goes straight to the resolver without passing by the middleware first.

I made sure that the middleware is working as

[2018-05-30 10:15] kikoseijo commented on #134
Try to add also the others, like web,  did you removed all middleware in the configuration?

[2018-05-30 10:19] EslamNasser commented on #134
Yes i stopped all the middlewares in the configurations

This is my **lighthouse.php:**
[code]

[2018-05-30 10:22] kikoseijo commented on #134
try to add web, i think JWT needs web to work, i have it like this:

'middleware' => ['web','api'],

and in the schemas i add "api:auth" for passport

[2018-05-30 10:33] EslamNasser commented on #134
Ok, forgive my ignorance here as i'm new to lumen but as far as i understand by adding `'middleware' => ['web', 'api],` this means i have to have two middlewares `web` and `api` registered in my app.php.
Correct?
If yes i don't have those.

[2018-05-30 10:39] kikoseijo commented on #134
no, pardon me, there is no web on Lumen.
It should work as you have it, there might be an error, lets ask for help to the expert on this, @4levels

[2018-05-30 10:48] EslamNasser commented on #134
When i just add api to the list of middlewares in lighthouse.php i get Class api does not exist

[2018-05-30 10:49] kikoseijo commented on #134
api its the one provided by Laravel Passport, you using jwt.

[2018-05-30 10:50] EslamNasser commented on #134
Could it be a problem in this specific release?

[2018-05-30 10:51] kikoseijo commented on #134
Sure, the Beta versions are for testing things out, move to master and let us know if it works,

[2018-05-30 10:56] EslamNasser commented on #134
But master doesn't have lumen support :'(

[2018-05-30 10:59] kikoseijo commented on #134
Master should point to https://github.com/nuwave/lighthouse/releases/latest

and yes, has the lumen spport.

[2018-05-30 11:01] EslamNasser commented on #134
I'm pretty sure that when i tried that version of lighthouse it didn't work for me, will double check it right now tho.

[2018-05-30 11:02] kikoseijo commented on #134
Its only missing couple of functions, but should work out to the box since version v2

[2018-05-30 11:11] 4levels commented on #134
Hi @EslamNasser,
I have't used the `@group` middleware so far, I'm currently using a single scope `graphql` to protect the graphql endpoints in `lighthouse_config.php`  I'll be getting back to this soon since I cannot longer postpone working on the backend (my RN app requires this atm).
Since I'm also very interested in using the `@group` directive, I'll report back here.

Since my current routing

[2018-05-30 11:20] EslamNasser commented on #134
@4levels Thanks a lot for your response, i just switched to the latest release and i'm getting this error `Call to undefined function Nuwave\Lighthouse\Support\Http\Controllers\auth()` trying to hookup graphql playground to the backend. I've read before in this issue [https://github.com/nuwave/lighthouse/issues/54](url) that this error is due to the difference between laravel and lumen in handling

[2018-05-30 11:28] EslamNasser commented on #134
Won't go anywhere :D

[2018-05-30 11:32] 4levels commented on #134
https://gist.github.com/4levels/4c732fbef1b87a3263998136f5bbe61d

[2018-05-30 11:36] EslamNasser commented on #134
Alright will try this out from my side.
@4levels Thanks a lot for the quick responses :)

[2018-05-30 11:38] 4levels commented on #134
You're welcome,

I've been in the same situation for days now (if not weeks), eagerly awaiting a reply on an issue (as you pbbly already noticed), glad to be able to help.

Oh, and I forgot to add any of the graphql schema etc etc, I'll update the gist..

[2018-05-30 11:47] 4levels commented on #134
Hi @EslamNasser, just so you know, I updated the gits and added some more files, especially the various ServiceProviders were hard to configure.. Hope this gets you going soon!

[2018-05-31 06:40] olivernybroe commented on #109
I'll start working on implementing this.

[2018-05-31 12:44] EslamNasser commented on #134
@4levels @kikoseijo  the `dev-master` version works with lumen but the `latest master` doesn't work with lumen. I tried the `@group(middleware: ) directive on `dev-master` and still didn't work for me.

Is there a special config i should have for it to work?

[2018-05-31 13:44] kikoseijo commented on #134
Is it a big project? can you upload?

Maybe try on this https://github.com/kikoseijo/lumen-lighthouse-graphql

[2018-05-31 16:15] crisu83 commented on #109
@olivernybroe awesome! Can’t wait to see what you make. :)

[2018-05-31 16:41] chrissm79 commented on #123
@olivernybroe Couldn't agree more here.. Lumen has been a pain point w/ Lighthouse development.

Does anyone have an example of how to incorporate Travis CI w/ Lumen so we can put it through the tests?

[2018-05-31 16:42] chrissm79 commented on #120
@mits87 Are we able to close this issue or are you still experiencing some problems? Let me know if you have any questions!!

[2018-05-31 16:44] chrissm79 commented on #121
Hey @mits87, are you still having issues with the middleware or were you able to get it resolved? Let me know if you have any questions!

[2018-05-31 16:44] chrissm79 commented on #126
Hey @4levels, are we okay to close this one or are you still having some issues? Let me know if you have any questions!

[2018-05-31 16:45] chrissm79 commented on #129
Hey @4levels, are we okay to close this one or are you still encountering some issues? Let me know if you still have any questions!

[2018-05-31 17:41] #126 closed

[2018-05-31 18:10] 4levels commented on #129
Hi @chrissm79,

I have been searching for days now to get at least something going with having a list of mixed results whilst using a relay paginator, I think I've been so close to the solution so many times, but I'm very sure I keep missing things everytime, preventing me form achieving this.  Since I still didn't manage to achieve this (IMHO trivial) task (considering Lightouse's en Eloquent's p

[2018-05-31 18:13] chrissm79 commented on #129
Hey @4levels, I can help out with creating the right output but can you put your Eloquent query here so I can show you out to generate the right resolver? Thanks!

[2018-05-31 18:29] 4levels commented on #129
Hi @chrissm79,

this is what I currently have in schema.graphql
[code]

I created a model class (that is no real model, just a class) like so in app/Models/SearchResult.php
[code]

[2018-05-31 18:31] 4levels commented on #129
My test query runs and even returns the correct number of results, just the searchable attribute remains null

[code]

with results:
[code]

[2018-05-31 18:33] 4levels commented on #129
And the interface resolver is here
app/GraphQL/Interfaces/Searchable.php
[code]

[2018-05-31 19:03] 4levels commented on #129
Hi @chrissm79,

I tried refactoring everyhting to use the `@union` directive, but I end up in a very similar situation.  The union resolver is being called, but the results are still null

This was all trying to get a `@paginate` directive with the type "relay" working.

If I use a non-paginator approach, I'm not undestanding how to instruct lighthouse that my query is returning a relay type pagin

[2018-05-31 19:15] 4levels commented on #129
Hi @chrissm79, it seems that when using the union resolver, Eloquent thinks all records are of the last type in the union query, trashing the resolver since it always recieves the same model class.  Not yet sure how to try to go about this...

[2018-05-31 19:29] 4levels commented on #129
FYI, I don't expect a simple copy paste solution, just an example of how you would achieve a similar thing:
having a relay paginator containing different types, without having to declare another database model with relations (as with the polymorphic relations)..

[2018-05-31 19:40] chrissm79 commented on #129
Thanks for the info @4levels, just so I can test things out can you do me a favor and paste your models and DB schema files here? Just the basic information that relates everything together would be fine, but that will help me re-create your environment to test with (or if you have a repo I can look at that would work nicely too 😄).

If you run the following:

[code]

does it give you a mixed list

[2018-05-31 20:05] 4levels commented on #129
HI @chrissm79, that's exactly what's happening here to: all results are returned and hydrated as Slogan records.
I'll put a repo online so you can hopefully see what's going on.

When using the `@interface` resolver it bugs me that the resolver never seems to be called, as this seems the exact issue!  Do you have a working example somewhere using the `@interface` directive?

Thanks again!

[2018-05-31 20:21] 4levels commented on #129
Hi @chrissm79,

I just created a new repo here on Github - https://github.com/4levels/api-test
I did leave out quite some info, please ask if you need more files..

Hope this helps!

[2018-05-31 20:21] chrissm79 commented on #129
I'll adjust your repo (if needed) to show how to get the `@interface` directive working but I assume something is going on at the query level. You almost certainly won't be able to use the built in `paginate` directive, but that's not too hard to get around since this is at the root query level... a custom field needs to be created along w/ some additional types.

[2018-05-31 20:22] chrissm79 commented on #129
@4levels thanks! I'll dig into this afternoon and can hopefully provide a solution!

[2018-05-31 21:13] chrissm79 commented on #129
Okay, so this is the first issue because even if you were able to get Lighthouse to query the data correctly, you still aren't getting the correct models hydrated so things down the line (i.e., relationships, mutators, etc wouldn't work because it's been hydrated into the wrong model/class). This isn't a Lighthouse issue but rather a data issue and I'd *really* suggest you restructure your data as

[2018-05-31 21:30] hailwood commented on #123
@chrissm79,
Do we even have a setup for running Lumen tests locally?
As far as I am aware orchestra/testbench doesn't support lumen, so we probably need to get that up and running first, at which point the travis setup should become fairly trivial

[2018-05-31 22:36] chrissm79 commented on #129
@4levels Okay, the deeper I dig into this the clearer it is that the data needs to be restructured in order for this to work well. But again, this isn't a Lighthouse/GraphQL issue, this is a data structure issue. You're root problem is that you're trying to union two different tables w/ different data which isn't supported in Eloquent (or any ORM that I'm aware of).

If you were to union two diffe

[2018-06-01 00:34] 4levels commented on #129
Hi @chrissm79,

thank you so much for your in depth explanation.  Coming from a symfony/doctrine world, I guess these where the bits and pieces I couldn't figure out myself.
I'm quite familiar with hydration issues as Doctrine had quite some (performance) issue regarding this and I often had to fall back to using raw queries instead.  Since I only started working with Lumen last year, I'm now wond

[2018-06-01 07:39] mits87 commented on #120
yes, you can close the issue

[2018-06-01 07:42] mits87 commented on #121
At the moment I left this package.
It seems to me that there is too poor documentation and not enough examples of use cases to using it on production. But very interested in project. I hope that in the future we will come back to using this package.

[2018-06-01 08:07] 4levels commented on #129
Hi @chrissm79,

after Googling a bit more, it seems like there really is no easy or efficient way to paginate through multiple models in Laravel / Eloquent and even the Scout package only allows for returning results of one type.  So it seems Scout is handy to do the indexing with eg. Elastic (found some good looking driver projects), but when it comes to actually returning mixed records, no joy.

[2018-06-01 11:21] 4levels commented on #129
Hi @chrissm79,

I think I'm getting very close!  I'm getting mixed results from the resolve function in my query, it's just GraphQL not detecting the correct type, despite me returning the correct type in the Interface resolver..
So at least the InterfaceResolver is being called once now for each result, but somehow, because the paginator returns only Image records (known limitation of Eloquent),

[2018-06-01 11:26] 4levels commented on #129
Strangly I do get the following GraphQL error if I define type: String! (required) in the Interace:
[code]
The query actually loads, but the introspection failes.  Removing the requirement from the SearchResult declaration in the schema solves this however..

[2018-06-01 11:41] 4levels commented on #129
IT WORKS!!!

I just had to use a different column than `type` (I should have known since with all this magic happening underneath, type would pbbly clash with things..)
Still testing around as this is litteraly 20 seconds old :smile:

[2018-06-01 12:45] 4levels commented on #129
Too bad my solution still depends on the patch for the Eloquent query builder though..
I'll try to create another PR for it, but since my expectations with creating PR's for Laravel that will be accepted are pretty low, I might just resort to using a fork instead..

[2018-06-01 12:45] #129 closed

[2018-06-01 14:07] kikoseijo commented on #129
What a threat....

@4levels I beg it works, using type as a field name,,,, hahahahaha!
You probably got it wrong from the base, as per architecture or data structure.

Why you need to call a morphed type by its own? they only should exist as a relationship to the models they belong to.

Come on! you can make it!

[2018-06-01 14:34] chrissm79 commented on #129
@4levels Looks like there's been some good progress lately, hopefully you're close to the finish line!!!

This is so very true! I've yet to use ElasticSearch in a project but I see that it can provide a mixed set of results that you could probably hydrate back into the proper Laravel models and get your collection of mixed types. Depending on how that's done you still *might* need to go a special

[2018-06-01 19:21] 4levels commented on #129
Hi @chrissm79 and @kikoseijo,

I finally made it happen, but I had to use some old school tricks to trick Eloquent into believing me :smile:
In a nutshell, I created a SearchResult eloquent model with table that will never contain any data, wiht the columns / attributes id, searchable_id, searchable_type, data and created at.
I then used the forementioned trick to union the query builders and addi

[2018-06-02 00:38] olivernybroe commented on #123
@4levels do you have any idea how to make tests on Lumen?

[2018-06-03 15:13] kikoseijo commented on #121
Hi @mits87

you got to consider the following:

When you create a middleware and put it in front of your router, before any action its taken in place the route does not get call in the the case of auth.

You can try it, when you put the middleware in the `lighthouse.php` config file gives you different results that when you use it in the `@group` middleware.

When you throw an error inside a `try

[2018-06-03 15:18] kikoseijo commented on #134
@EslamNasser what you stuck at?

Been playing with middleware today and you won't get same functionality when added to the route than when inside schema.
Let me know if we can help, maybe there is something, but I guess its more of what you expect to happen thats suppose to be happening or something you are not able to make it work.

Anycase, hope you manage to go though and maybe help others with

[2018-06-03 16:06] EslamNasser commented on #134
@kikoseijo Sorry i got sucked into other things, to answer your 1st question no it's not a big project i just started one to play around with 1st.
I'm trying to make the `@group(middleware: )` directive to work, as far as i understand when i use this directive any request going to this group of queries/mutations goes through the middleware 1st without the need to apply the middleware on the entire

[2018-06-03 16:34] kikoseijo commented on #134
@chrissm79 @EslamNasser , I found the problem.

When a query starts like this: **Wont work**

[code]

but if it starts likes this:  **It works**

[code]

middleware gets called.

Problem seems to be on the parse of the query using fragments and will get this type of body when using a Relay `<QueryRenderer`

We need to work on this. Boss?

[2018-06-03 16:56] kikoseijo commented on #134
@chrissm79 , deeper debugging got me to find out that the problem its here:

On the MiddlewareManager,

[code]

recieves:

[code]

Somehow we should be able to convert this fragment to its value to retrieve the query.

Right now im stuck at trying to pull the real query when I find a `FragmentSpread` .

[code]

[2018-06-05 03:13] chrissm79 commented on #134
@kikoseijo Thanks for digging into this!! Taking a look and hopefully will get something figured out for this one soon!

[2018-06-05 03:46] chrissm79 commented on #134
@EslamNasser @kikoseijo Okay, just pushed an update that *should* resolve the issue [listed here](https://github.com/nuwave/lighthouse/issues/134#issuecomment-394175595). Pull down the latest from master and give it a go and let me know if you're still having issues!

@EslamNasser Thanks for reporting this!!!
@kikoseijo Thanks for digging into things!!!

[2018-06-05 12:00] kikoseijo opened #136 "Resolvers get called twice"
Hi there,

Not sure if its a normal behaviour, but, given a belongsToMany directive, (Connection) where has a resolve, this method on the model gets called twice.

Havent actually checked the if also in the Db we doing double queries, but run twice the resolve function for a single pagination, it could be for pagination, but i dont think its necessary.

posible BUG.

[2018-06-05 12:02] kikoseijo commented on #134
@chrissm79 cant see the update, ill wait.

For now what i did was embed in an upper query and gets called.

[2018-06-05 12:13] chrissm79 commented on #134
@kikoseijo Sorry about that, just pushed the [update](https://github.com/nuwave/lighthouse/commit/707d4dc6b8901ac35f4a5c686ccd3b753a97d53b) to the repo

[2018-06-05 12:45] mits87 commented on #121
Hi @kikoseijo,

thank you for your message.
I didn't check how the library works under the hood but if you are able to use the directive like `@auth` then the middleware directive should also works.

For me the most important is separate the GraphQL logic from the rest of the code. So if I'm using the GraphQL schema then I would like use only GraphQL without extra logic in routes or controllers.

[2018-06-05 12:46] kikoseijo commented on #121
Hi @mits87

check out this thread, we have an update it might resolve this issue.

#134

[2018-06-05 14:51] kikoseijo commented on #134
@chrissm79 you king! Works for me,

@EslamNasser @mits87 I guess your problems are solved after this patch.

 Thanks a lot, Boss!

[2018-06-05 15:49] chrissm79 commented on #136
@kikoseijo Can you do me a favor and copy/paste your schema and query here? I might know why it's happening but I'd need to know the context in which it's being used to be sure.

[2018-06-05 15:57] kikoseijo commented on #136
[code]

[code]

This is the resolver gets called twice.

[code]

[2018-06-05 15:57] kikoseijo commented on #136
@chrissm79  fyi

[2018-06-05 16:07] kikoseijo opened #137 "Security issue"
Please correct me if im wrong.

How are we going to protect a call to a node, don't you think the system its a bit open wide?

I mean, I can find out the IDS, and call nodes of any model marked as a node.

Is there a directive to protect them? Just wondering.

anyone?

[2018-06-05 16:13] kikoseijo commented on #137
Allright im able to answer myself,

[code]

[2018-06-05 16:13] #137 closed

[2018-06-05 16:16] EslamNasser commented on #134
@chrissm79 is it possible to push the fix on dev-master cause this is what i'm using as it has lumen support, please :D

[2018-06-05 16:20] kikoseijo commented on #134
I believe dev master its the latest commit.

little helper for use with envoy tasks:

[code]

[2018-06-05 16:58] kikoseijo commented on #136
@chrissm79 though was good to report but as you say, right now its the actual behaviour,
I think it can be done in one, but leave it as a enhancement.

Im using the library right now all day long, you doing an excellent support! 🍺🍺🍺🍺🍺🍺🍺

[2018-06-05 16:59] #136 closed

[2018-06-06 04:28] BlackMix opened #138 "Related with same names returns null [Bug?]"
Hi.
First I would like to say that I really enjoyed the project :)

I do not know this is a bug, but it seems that yes, when we put to list a post and if we want to list a related post to it with names of equal fields returns null, but when we change the names "prefix" it returns

Images about: https://imgur.com/a/kkBOAHs

I could change their name, but I do not know if this is a bug, so I'm askin

[2018-06-06 04:53] BlackMix commented on #138
[code]
well, it fixed with tag: relation in category.. but why cant use same names?
never had this problem with eloquent, hmm.

[2018-06-06 06:14] spawnia commented on #138
Anyways, if the relation is not explicitely set, it defaults to the name of the field. So in your case, it would look for a relation called `cat` (unless you set it to `category` as in your second example.

This distinction is made to enable giving semantic names to fields, for example:
[code]

I hope that resolves your issue. If not, feel free to post the faulty schema definition.

[2018-06-06 06:35] BlackMix commented on #138
@spawnia I showed in the first post what is happening

[2018-06-06 07:19] spawnia commented on #138
Oh, i did not see that third image - my bad.

Actually, it seems like the first example should work fine. Take a look at `BelongsToDirective.php` to see what is going on under the hood, maybe try adding a debug statement to check if the value of `$relation` changes between your first and second example.

[2018-06-06 10:35] kikoseijo commented on #138
Hi @BlackMix

Can you post the Category schema?
Is there a category category?

[2018-06-06 10:47] BlackMix commented on #138
Hi @kikoseijo

[code]

I'm going to take a deeper look shortly, I'm redoing all my table relationships more clearly with GraphQL, I really liked it

[2018-06-06 10:57] kikoseijo commented on #138
@BlackMix

try with this: I think your Category its anti-pattern

[code]

Or,  make the query without the` category { category` , use `category { name`,

This library its very young, could be a bug, or you, twisting the curve,  further investigations will be welcome, :-P

Best part its that you found a fix by using directives...

[2018-06-06 11:10] BlackMix commented on #138
with elloquent work fine like:

[code]

next amd previous is some season from this serie, and with relations in same table..
then I'll take a closer look at this.

[2018-06-06 16:44] kikoseijo commented on #138
I can imagine you doing all in the magic, I mean, you letting lighthouse to build your eloquent.

Why don't you try to build the query using a resolver and provide your eloquent results.

I wonder where the problem its:

- lighthouse level on eloquent,
- lighthouse level on schema builder,
- webonyx/graphql-php resolving the data needed for request.

...

[2018-06-06 16:54] BlackMix commented on #138
@kikoseijo
I've just shown the eloquent example, I'm not using it, it would be more interesting using the maximum of the Lighthouse, so I'm here, at least everything is working, I get a list of series with several genres, categories, images without problems, only I wanted to show this part myself :)

[2018-06-07 15:58] #120 closed

[2018-06-10 19:54] tonipepperoni opened #141 "how to do the following graphql query with nodes?"
Hi everyone, I'm trying to implement the following query with connection type

`query Beacons {
  beacons {
    nodes {
      id
      name
      description
      identity_key
    }
  }
}`

How is this possible with lighthouse?

[2018-06-11 06:04] spawnia commented on #141
Hi! Can you please post your question in Slack instead? https://join.slack.com/t/lighthouse-php/shared_invite/enQtMzc1NzQwNTUxMjk3LWI1ZDQ1YWM1NmM2MmQ0NTU0NGNjZWFkMTJhY2VjMDAwZmMyZDFlZTc1Mjc3ZGY0MWM1Y2Q5MWNjYmJmYWJkYmU

[2018-06-12 12:28] EslamNasser commented on #134
@chrissm79 @kikoseijo I'm still unable to get the `@group` directive to work, i'm sending the graphql queries using Graphql Background

[2018-06-12 14:57] kikoseijo commented on #134
@EslamNasser many of us are using it and its working.
Why don't you try to emulate your middleware in one of the example projects? 4levels or myself have some demo projects you can fork to try to make this tests so, me or anyone can test same conditions you working on to try to find the possible bug if you consider its a bug.

I did found 1 and the cause not long ago and the Boss! did the fix in c

[2018-06-15 06:25] spawnia opened #142 "New Interfaces for Field Directives"
The current set of Interfaces for Field Directives are `FieldMiddleware` and `FieldResolver`. While the are treated differently in directive resolution, they are functionally the same - both recieve and return a `FieldValue`.

This puts the burden of providing a stable, public API on FieldValue - so we would not be able to change its implementation should we require to do so. Also, since the Field

[2018-06-19 09:57] spawnia commented on #141
@tonipepperoni If your question is answered, can you please close the Issue?

[2018-06-19 10:05] spawnia commented on #96
Are you still interested in doing something like this? I think the tests work fine as they are, and i am not too big a fan of adding methods just for the sake of testing.

[2018-06-19 10:17] olivernybroe commented on #96
@spawnia I think it is really needed. Writing tests right now in Lighthouse isn't that nice as I can only check the returning data, not the actual data, which is what I am testing for in that particular test.

I think it is worth adding a method just for the sake of testing.

[2018-06-19 10:34] spawnia commented on #101
Does the `SecurityDirective` resolve this issue or does it need anything else?

[2018-06-19 10:40] olivernybroe commented on #96
@spawnia Sometimes I have a complex data definition in graphql. So I want to make sure that the data returned is the actual model. I am not interested in what fields I have defined in my SDL. I am interested in what is received before the data is transformed.

[2018-06-19 11:22] spawnia commented on #96
Seems like that can be achieved by calling the resolve function directly. Should this prove to be insufficient, you can add some utility functions to `TestCase.php` to help with such tests.

[2018-06-20 23:34] #138 closed

[2018-06-21 19:05] dimitri-koenig opened #155 "Directives on InputObjectType"
Hi there

Argument directives don't work on input object types.

[code]

Any idea why and how to solve it?

[2018-06-21 19:30] spawnia commented on #155
Hey, i know exactly why! Currently, input object values are treated the same as fields.

I am currently reworking the directive system to follow the rules defined in the new specification, which explicitely lists all the possible locations for server side directives.

Currently, there is no easy fix - if you need your schema to work asap, you can put the arguments directly into the field and apply

[2018-06-21 20:37] dimitri-koenig commented on #155
Hm, I've digged into the code and could even apply the `@bcrypt` directive to a field, as an example. So even hacking around didn't work. Is it an issue of the underlying "graphql-php" package or lighthouse?

[2018-06-22 06:08] spawnia commented on #155
You **could** apply most directives to anything, they just would not do anything. The workaround i was talking about would look like this:

[code]

[2018-06-24 13:07] tonipepperoni commented on #141
@spawnia thanks, will do.

[2018-06-24 13:07] #141 closed

[2018-06-24 16:30] dimitri-koenig opened #156 "@paginate directive used on relationships behaves like used without relationship"
Hi guys

The `@paginate` directive uses $model::query() for resolvement. That means that one cannot use it on relationships of a model. And the tests for this directive do not uncover that issue.

Before I start a full blown PR I want to start a short discussion in which direction to move because my case is not everyone's case.

Current solution:
Change this line in the paginate class:
[code]

to

[2018-06-24 16:32] dimitri-koenig opened #157 "Introduce snapshot testing"
Hi guys

I've got current big project where using traditional testing of json output just doesn't work for that huge scale. So I started to use snapshot testing using Stapie's awesome package for that: https://github.com/spatie/phpunit-snapshot-assertions

That's where I, for example, discovered that the `@paginate` directive has some tests but they only have a mini mini fraction of assertions and

[2018-06-24 16:52] dimitri-koenig commented on #155
Yeah, I know that would work but that's not a good solution in my case.

[2018-06-24 17:28] dimitri-koenig commented on #157
Hm, when dealing with integration tests then we are dealing with a lot of data with so many variations that "pretty small and focused" cannot capture all different angles.

[2018-06-24 20:47] chrissm79 opened #159 "Immutable DocumentAST"
Right now the DocumentAST is mutable which means that if you make any changes to any of the underlining nodes/fields/arguments they are changed on both the `$current` and `$original` DocumentASTs (even w/out calling the `setDefinition` method).

To demonstrate, if here is a test example:

[code]

To fix this issue, we need to always return a `cloned` node definition from the `DocumentAST` so it ca

[2018-06-24 20:50] spawnia commented on #159
Great catch! Yeah, mutability is evil - let's get rid of it. I can get to work on this if you have not started already

[2018-06-24 20:52] chrissm79 commented on #159
Thanks `@spawnia`! I've gotten started on it, just need to figure out why the `@group` directive is having some issues and I'll have a PR ready to go!

[2018-06-25 06:51] spawnia commented on #157
Can you give a few examples? I am not against trying this package, i would just like to avoid adding another dependency and more complexity if it is not really needed.

[2018-06-25 06:54] spawnia commented on #155
There are some rather general issues that we have to solve before this. Once we have a solid foundation, we can go ahead and start to implement it. Have not started on it, you can expect things to happen roughly in the next two weeks.

[2018-06-25 06:58] spawnia commented on #156
There are two particular directives for relationships, `@hasMany` and `@belongsTo`.

`@hasMany` handles the relationship (it even batches the request), and allows to access it either as a raw list or paginated. Does that solve the issue you are having?

[2018-06-25 07:01] spawnia commented on #96
@olivernybroe Have you done anything on this? I would like to avoid adding complexity to the resolution itself, so if you can achieve what you need by adding a helper for testing, i would be up for including it as part of the test suite.

[2018-06-25 07:03] spawnia commented on #121
This should be resolved through #140. I will close this for now, feel free to reopen if the issue persists.

[2018-06-25 07:03] #121 closed

[2018-06-25 07:05] spawnia commented on #134
Should be resolved through #140. You are now able to add middleware either through `@group` as you did above, or through the `@middleware` directive, applied directly to a field.

Closing this for now, feel free to reopen if the issue persists.

[2018-06-25 07:05] #134 closed

[2018-06-25 07:15] spawnia commented on #109
I have been following along with the development of https://github.com/digiaonline/graphql-php and i must say i am really impressed. It is now nearing v1 and has some major improvements over webonyx, as well as great support for the SDL: AST manipulation, partial parsing, schema validation...

The driver-based solution by @olivernybroe is a neat idea, but i feel like it would broaden the scope of

[2018-06-25 07:16] olivernybroe commented on #96
@spawnia haven't done anything for this.

[2018-06-25 07:19] spawnia commented on #131
Just a quick update on this, if anyone is following along.

We made some big steps towards this with formal schema manipulation and are starting to make some necessary changes how Input Objects are handled. There are still a bunch of things that need to happen before this, but it is definitely still planned.

[2018-06-25 18:43] #159 closed

[2018-06-27 14:10] enzonotario opened #170 "Error: Schema must contain named types..."
Hi folks! Firstly, thanks so much for this excelent library!

Recently I'm having troubles with newest updates. For example, if I have two `@hasMany`:

[code]

it throws:
`Schema must contain unique named types but contains multiple types named "Job" (see http://webonyx.github.io/graphql-php/type-system/#type-registry).`

Can anyone help me, please?

Thanks in advance!

[2018-06-27 14:21] chrissm79 commented on #170
Hey @enzonotario, I'm assuming it's elsewhere inside your schema, but just to be sure can you copy paste your schema here? The `Job` type you have looks just fine so it has to be somewhere else.

[2018-06-27 14:30] enzonotario commented on #170
I have deleted/commented everything and leave just that schema, the error persists.

Anyway, I also have cloned your lighthouse-example, and, using `nuwave/lighthouse: "dev-master"` in composer.json, and with a schema like:
[code]

It throws that exception.

Can you, PLEASE, put two `@hasMany` directives in a same Type in your example? I'm sure you will see that exception.

thanks!!

[2018-06-27 14:58] chrissm79 commented on #170
@enzonotario I bet it's because the repo is still using `dev-master` instead of `v2.0` or `v2.1-rc1`... when i have a moment I'll check out that repo and make the necessary updates. I'm using `dev-master` and i'm not having any issues and I have ~10 types that have multiple `@hasMany` so I'm sure that's what the problem is. I'll update here after I check it out.

[2018-06-27 15:02] enzonotario commented on #170
I have `dev-master` in my own project.. I just check it in your example to be sure that is not a problem of my project...

Sorry for my ignorance but I don't have to use `dev-master`? I wan't to have the latests updates

[2018-06-27 15:06] chrissm79 commented on #170
You probably don't want to use `dev-master` in your own project... breaking changes are being added to it and there are times when a PR gets merged that will cause tests to fail (thus breaking things elsewhere).

To play it safe you'll want to use either `v2.0.5` or `v2.1-rc`. If you still want to use `dev-master` you'll need to keep up with the updates and breaking changes until we release `v2.2`

[2018-06-27 15:19] enzonotario commented on #170
Ok, I was using it with non errors until I changed to `dev-master`. Now I'm reverted that.

Thanks so much and I will be waiting for new updates!

[2018-06-27 15:20] chrissm79 commented on #170
@enzonotario sounds great! Working on the docs this week so hopefully we'll get `v2.1` cut soon and get the docs site updated!

[2018-06-27 17:45] spawnia commented on #170
I could replicate that issue, just fleshing out an additional test for it and working on a fix!

[2018-06-27 17:52] chrissm79 commented on #170
@spawnia Interesting, nice find!! @enzonotario thanks for reporting!!!

[2018-06-27 18:11] enzonotario commented on #170
In fact, I have made a little directive that wraps `PaginateDirective`, and it is to return a collection, without pagination, but inside a `data`. So I don't think that the problem is related just for use `type: "paginator"`, but I also don't understand so much the core concepts of graphql and this library, I just wrap the `PaginateDirective`, removed `paginatorInfor` and force to return a collect

[2018-06-27 22:08] chrissm79 commented on #170
Okay, if you're on the master branch you should be able to pull down the latest changes which should fix the issue. Please let me know if it's working for you or if you're still experiencing the same issue. Thanks for reporting!!

[2018-06-27 22:46] urjathakkar commented on #170
I am really new to using Laravel + GraphQL, I have my project set up with basic queries running, can you please guide me to query by id/title field I mean something like a where clause with equals or like. Thanks for all the help and support, managed till here with all your documentation and videos for Lighthouse V2

[2018-06-27 22:59] panchhithakkar commented on #106
I am really new to using Laravel + GraphQL, I have my project set up - Lighthouse V2, with basic queries running, can you please guide me to query by a specific field I mean something like a where clause with equals or like. Thanks for all the help and support, managed till here with all your documentation and videos for Lighthouse V2. If you could guide me to the proper documentation on this.

[2018-06-27 23:16] enzonotario commented on #170
@chrissm79 yes, it works! thanks so much!!

[2018-06-28 02:15] #170 closed

[2018-06-28 06:14] spawnia commented on #106
Arguments in GraphQL are optional by default, so you could easily just add more arguments to the same field and just add filters to the query for the ones you provided.

[code]

You can also skip writing a custom resolver altogether and use a combination of the `@paginate` directive and the custom filter directives. Take a look at https://github.com/nuwave/lighthouse/blob/master/tests/Integration/

[2018-06-28 06:19] spawnia opened #173 "[Feat] Add @all field directive to query all models"
At the moment, if you want to the query filter arguments, you have to have a field directive like `@paginate` or `@hasMany`.

There are cases where i want to have a list of models without pagination. Can we just extend the `@model` directive to work with fields, too?

[2018-06-28 12:21] chrissm79 commented on #173
Do you mean off the root query? You can already define a relationship w/ `@hasMany` and just ignore the `type` and it will provide you with a list of related models w/out pagination.

[2018-06-28 15:04] chrissm79 commented on #173
I guess we could do that for convenience. I'm wondering if we should force it to be used on the `Query` or `Mutation` type to prevent people from defining on a field that should be a relationship and they fall into an N+1 issue?

[2018-06-28 15:10] spawnia commented on #173
I think that mentioning it in the docs will suffice. Who knows, maybe there is a use case where you want to query some model that is not actually a relation, or you specifically want to the different queries. The other model might reside in a different database. I think it is best to keep the options open.

[2018-06-28 22:12] panchhithakkar commented on #106
@spawnia thanks a ton for the reply , those test cases are in toomuvh detail, really helpful for a rookie like me. The issue I have now is that, none of the directives like @where, @include, @search are working in my case except @paginaste.

Look below:
     type Query {
            systems: [System!]! @paginate(model: "App\\System")
     }

![image](https://user-images.githubusercontent.com/10554

[2018-06-29 02:47] merodiro commented on #88
is there a way to fire subscriptions events without @event directive?

[2018-07-05 12:29] webwisejordan opened #183 "[Question] Using with agnostic service/data layer: introspection not working"
I am using Lighthouse 2.1 in a Lumen project which has an agnostic service/data model layer (needs to support REST and GraphQL) so there is no Eloquent models to directly tie into.

In order to make this work, I created a controller for each transmission type which has generic methods for each operation (retrieve(), create(), etc.).  These all essentially work by calling a provided resolver to the

[2018-07-05 15:18] chrissm79 commented on #183
@webwisejordan Pretty interesting use-case!! I might not be able to dig into this until this afternoon but just taking a quick look, did you define an `Object` scalar type (used in the `ResponsePayload` type)?

[2018-07-05 17:24] webwisejordan commented on #183
Actually, I didn't define a scalar type for Object.  I was thinking it was one of the native types for some reason, but a quick check against the spec confirmed that it was not.  I will make sure to update it when I get home.

Strangely though it doesn't give any kind of schema validation error, and the queries and mutations still work as expected.  I did try some other tests, including just havin

[2018-07-05 18:11] chrissm79 commented on #183
@webwisejordan Yeah, I'm not sure why your queries/mutations would still work but I know I personally ran into that error and I *believe* it was because I was extending a `interface` that I didn't actually define. I might need to dig into that to see if that's a Lighthouse or `graphql-php` issue (I would think you should get a schema error as well).

Let me know if defining the Object type (or usi

[2018-07-05 19:29] spawnia commented on #183
@webwisejordan Well actually, the schema is not fully validated during normal requests. For performance reasons, the types are only loaded lazily. If you want to debug your schema and ensure it is valid, you can use `php artisan lighthouse:validate-schema`

[2018-07-06 01:32] webwisejordan commented on #183
@chrissm79 I just was able to try and neither defining a scalar for Object nor just replacing it with a String worked - same result.

@spawnia Interesting, and definitely good to know.  I tried to `php artisan lighthouse:validate-schema` and it said it was undefined.  I am using Lumen rather than Laravel, so perhaps that has something to do with it.

[2018-07-06 02:43] robsontenorio commented on #112
Nice, but i cant see that (@find) on docs.

[2018-07-06 02:53] chrissm79 commented on #183
@webwisejordan If the schema is currently being cached you probably want to set the option to false for the time being as changes while you debug won't take effect. Other than that it shouldn't haven't any effect on this issue.

As I recall, I had a misspelled field type and it caused the same error. Can you remove all your imports and just import your user file and comment out all fields from the

[2018-07-06 04:06] robsontenorio commented on #74
@chrissm79

I like the idea. The native `@carbon` directive would be very useful. Will it be considered on next version?

[code]

[2018-07-06 09:09] spawnia commented on #183
@webwisejordan Right, sorry for that. The commands changed in v2.2, they are not available in v2.1

There are some major performance improvements in v2.2, so if you are feeling lucky, maybe try `dev-master`

[2018-07-06 09:30] spawnia commented on #84
Argument filters are available as of v2.1, you can check the docs https://lighthouse-php.netlify.com/docs/directives-queries.html

[2018-07-06 09:30] #84 closed

[2018-07-06 09:31] spawnia commented on #53
Implemented as of #176, will be available in v2.2

[2018-07-06 09:31] #53 closed

[2018-07-06 12:30] webwisejordan commented on #183
@spawnia  Good to know.  I will wait until I have the other issues fixed and possibly until it is pushed to stable - but I'll definitely give it a go.

@chrissm79 So, I played around a lot more with schema manipulations, starting with just a bare Query and Mutation, I could see things showing up! :D However, it seems that the issue was with my scalar definition for DateTime - as soon as I uncommen

[2018-07-06 12:54] chrissm79 commented on #183
@webwisejordan Do me a favor and use the full namespace in your scalar definition like so:

[code]

Let me know if that works, it might be that we're not resolving the namespace in the scalar directive and it's using `\DateTime` instead of your scalar.

[2018-07-06 13:12] spawnia commented on #183
@chrissm79 Could it be a conflict between the DateTime scalar we already have in Lighthouse?

[2018-07-06 14:33] webwisejordan commented on #183
@chrissm79 I did try the full namespace as well with the same result.  Could be a conflict as @spawnia suggested I suppose.  On a sidenote, is there anywhere that has a list of the lighthouse-provided Scalars available by default in documentation?

[2018-07-06 14:42] spawnia opened #184 "Treat InputObjectValues as InputValueDefinitions, not as FieldDefinitions"
**Is your feature request related to a problem? Please describe.**

The way input types are currently handled is mixed up between other types and fields. The fields of InputObjects are actually not FieldDefinitionNode but rather InputValueDefinitionNode.

This leads to cases where directives might be applied at a place where they do not actually make sense. Also, it prevents us adding strict types

[2018-07-06 21:03] chrissm79 commented on #155
@spawnia Actually, I believe this is a bit closer to your #184 issue... needing to allow and handle directives on an input definition's `InputValueDefinitionNode`. A input type's fields do not have a `resolve` function ([see here](http://webonyx.github.io/graphql-php/type-system/input-types/)). So if you wanted to place the `globalId` directive on an input type's `id` field, we have to do somethin

[2018-07-07 00:15] panchhithakkar commented on #106
I have issues using any type of directives like @where, @neq, @eq as I just described in my previous comment with the screenshots, I just get error when GraphiQL tries to read the schema.graph to show the shema, do I need to activate the directives or anything that I am really missing, my questions may be too basic but I am kind of really struggling to get there for directives, any help would real

[2018-07-08 14:37] chrissm79 commented on #183
@webwisejordan I'm still not sure why you wouldn't be able to extend the lighthouse scalar, I'm able to do so on a fresh install, but it's a Laravel build not Lumen.

However, I did notice that if you defined the scalar w/ the entire namespace it still prepended the namespace defined in the lighthouse config. I pushed a small patch that will fallback to the `class` defined in the schema and if it

[2018-07-08 15:00] chrissm79 commented on #106
@panchhithakkar So the first thing I see is that you need to add double slashes to your schema like so:

[code]

Other than that your schema look fine and I tested this out locally and everything seems to be working. If you're still getting the error (after adding double slashes) can you do me a favor and open up the developer tools in your browser and go to your network tab to take a look at the

[2018-07-08 15:06] chrissm79 commented on #184
Hey @spawnia, could you do me a favor and provide some insight into how you intend to change the NodeFactory/FieldFactory and Directives? i.e., is it just separating the input types out and pushing them through a different process (in the NodeFactory) w/ new directive interface(s) or are you making changes to the current directive interfaces? Thanks!!

[2018-07-08 20:40] robsontenorio opened #187 "[Question] Get all, without @paginate and without custom resolver"
Cant find any info on docs or issues.

I can do this, great!

[code]
But, the `count` parameter is required

[code]

I would like simple get all, without paginate.

[code]

But  ...
[code]

I was wondering if exists some directive to simple get all, like `@find` or `@first`. Maybe `@all`, and a custom resolver wont be required.

And ...

[code]

it would allow to query simple like this

[code]

[2018-07-08 20:49] robsontenorio commented on #187
I have tried, but no lucky. Actually does not make sense.

[code]

[code]

[2018-07-09 06:11] spawnia commented on #173
Hey @robsontenorio

We will have to expand the functionality of the `@model` directive. I am not sure when we will get to implement this, but i plan to do it.

If you want this issue to move along a bit quicker, feel free to dig into the code and submit a PR. I suggest to look at `PaginateDirective` or `HasManyDirective` an go from there. Now that you have mentioned it, `@all` seems like the best

[2018-07-09 06:13] spawnia commented on #187
Closed in favour of #173

We plan on implementing this, should be in one of the next versions of Lighthouse.

[2018-07-09 06:13] #187 closed

[2018-07-09 08:20] spawnia commented on #184
The spec describes six types:

[code]

First, i would rename the classes that deal with types to reflect that. Right now, they are all kind of lumped together as `Nodes`. I found this confusing when initially coming to the project, and i still feel it is not quite right. The term `Node` is in this weird place where it is overly general on the one side (a node in the SDL could also mean a field, an

[2018-07-09 22:35] panchhithakkar commented on #106
Hey @chrissm79 , thank you so much for your reply, actually I did have the '\\', somehow did not show up in the copy paste in my comments, none the less, I was able to find out that I am using lighthouse V2 and it does not come with the WhereFilterDirective.php (when i do "composer require nuwave/lighthouse") and I need to create one in order to use a @where directive. I tried to reference the V1

[2018-07-12 15:58] spawnia opened #193 "Default to field type when no model argument is given"
**Is your feature request related to a problem? Please describe.**
Most of the time, when defining CRUD directives like `@create` i end up putting in the
return type as the `model`

Also, the docs have display a case where the model arg is ommitted: https://lighthouse-php.netlify.com/docs/directives-crud.html#delete

**Describe the solution you'd like**

Currently, the CRUD directives require a mo

[2018-07-12 16:58] vladar opened #194 "Consider using Visitor for AST manipulation?"
Hey guys,

I see you do some AST transforms on a schema, but you do it via plain AST modification. Just curious, have you tried using [Visitor](http://webonyx.github.io/graphql-php/reference/#graphqllanguagevisitor) for it?

I think it is the most convenient (and efficient) way to traverse and modify AST. If it doesn't work for you for some reason, maybe you can share some use cases when it didn't

[2018-07-12 17:18] spawnia commented on #194
I did look into the visitor. It seems great for smaller transformations, i think it is too limited for us though.

You can take a look at the [PaginationManipulator](https://github.com/nuwave/lighthouse/blob/master/src/Schema/Directives/Fields/PaginationManipulator.php) to get a sense of the kinds of transformations we are doing. It involves both
modifying existing nodes, as well as adding complet

[2018-07-12 17:22] spawnia commented on #194
Is it true that when using the visitor, it is only possible to alter the current node and subnodes?

[2018-07-12 18:12] chrissm79 commented on #194
Hey @vladar! I think @spawnia pretty much nailed it on the head... Visitor seems to only allow us to manipulate the current node (and subnodes) that's being evaluated but we need to be able to create new nodes to add to the schema and it just seemed to be more logical to have all of that functionality in one place.

Would love to get your feedback though! We've had to do some hacks to introduce im

[2018-07-12 18:51] vladar commented on #194
Yes but since it visits all the nodes (unless you explicitly tell it to skip some sub-tree) you can modify anything. The typical approach is to collect the data you need on `enter` hook (of various node kinds) and then modify any nodes you need on `leave`. Adding nodes is a matter of editing the parent node.

Technically it should allow AST transformations of any complexity (even tranformations to

[2018-07-12 19:35] chrissm79 commented on #193
Looks good, that would be a great default to use!

[2018-07-12 21:57] vladar commented on #109
Disclaimer: I am the maintainer of the webonyx/graphql-php lib.

I am not against competition even though I think it would be much better for the PHP GraphQL community to have a single base library to avoid community fragmentation.

But since you guys never tried to reach me out to discuss this, competition is fine too %) But I'd like it to be fair. So please when you criticise other people's work

[2018-07-13 05:49] crisu83 commented on #109
@vladar on what version of PHP did you run your benchmarks? We do have a benchmark project, but unfortunately I’m travelling so I don’t have the link. @fubhy maybe you do?

[2018-07-13 06:08] vladar commented on #109
@crisu83 PHP 7.2.3 but it doesn't matter much, because it is a question of algorithmic complexity. O(N^2) is still O(N^2) on any version. You can run those yourself.

[2018-07-13 06:14] spawnia commented on #109
Hey @vladar thank you for reaching out. I do agree that a single library would be the best.

There is some really great stuff in the digiaonline implementation that would be really nice to have. If we can bring it all together that would be awesome!

How do you feel about making a switch to PHP 7.1? I really like the strong type hints that it provides. Not having them in your implementation bit me

[2018-07-13 06:21] ctf0 opened #196 "improve documentation"
thanx so dam much for this package, having the same schema syntax in both front & end is just heaven 😍.

still could someone pleaaaaaaaaaaaaaase for the love of god, do something with the documentation ?

i have to keep at least 10 tabs opened from "examples, issues, the official doc, the src files" just to understand how things works 😭.

[2018-07-13 07:03] vladar commented on #109
@spawnia The current version (0.12.x) is the last one supporting PHP5. We are in the process of converting the library to PHP7.1 In fact, we added a [note in UPGRADE.md](https://github.com/webonyx/graphql-php/blob/master/UPGRADE.md#breaking-minimum-supported-version-is-php56) about the switch.

Also, we still consider moving towards a more static model where you need fewer closures and string-base

[2018-07-13 07:39] spawnia commented on #196
Thanks for the praise, we hope to deliver the best dev experience possible with the library.

I do agree that the documentation can be a bit spotty in parts. So, i invite you to contribute your findings to https://github.com/nuwave/lighthouse-docs

The docs are open source and free for everyone to improve!

[2018-07-13 07:39] #196 closed

[2018-07-13 08:48] #156 closed

[2018-07-13 09:13] olivernybroe commented on #81
@spawnia that is another problem, but not the one I am trying to solve here. I merely won't to implement a interface on my exception class, and if this interface exists, then a specific method on the exception tells how to render the exception in the errors array on the output.

[2018-07-13 09:48] ctf0 commented on #196
the problem is am still learning it, and the docs in its current form is a big wall in front of anyone wants to get involved.

i believe the more experienced/veteran users like you would do much more than a newbie like myself + it would avoid tickets like https://github.com/nuwave/lighthouse/issues/106

[2018-07-13 10:57] spawnia commented on #196
I would love to hear some concrete suggestions on what we can put in the docs to make it easier.

What parts in particular where hard for you to? What information did aid you in understanding?

[2018-07-13 12:30] spawnia commented on #196
We are planning some substantial changes to the interfaces for custom directives. Once those are through, we will add docs for that!

https://github.com/nuwave/lighthouse-docs/issues/12 you can add ideas/comments there

https://github.com/nuwave/lighthouse-docs/issues/13

https://github.com/nuwave/lighthouse/issues/123 would be a necessity, the docs should not require much of a mention once everyt

[2018-07-13 13:10] #173 closed

[2018-07-13 13:33] spawnia commented on #173
@robsontenorio this is now implemented, feel free to try it on `dev-master`

[2018-07-13 13:35] ctf0 commented on #196
will do, thanx

[2018-07-13 15:06] robsontenorio commented on #173
Thank you very much!

—
Robson Tenório

Em 13 de jul de 2018, à(s) 10:33, Benedikt Franke <notifications@github.com> escreveu:

[2018-07-14 01:42] #193 closed

[2018-07-15 11:01] vladar commented on #194
FYI, I've built a simple repo to demonstrate how visitor works for something like `@paginate` directive: https://github.com/vladar/graphql-visitor-example

As I said, it collects required data when entering `field` and `directive` nodes. Then it will apply transformations using this data when leaving `field` node and add new types when leaving `document` node.

This is a rather simple thing to do

[2018-07-16 03:27] vantuanprimelabo opened #202 "[Question]"
I want to you help me, I can't install lighthouse.
It's Symfony \ Component \ HttpKernel \ Exception \ MethodNotAllowedHttpException
No message when i press url : http://127.0.0.1:8000/public/graphql
 protected function methodNotAllowed(array $others)
    {
        throw new MethodNotAllowedHttpException($others);
    }

[2018-07-16 03:29] vantuanprimelabo commented on #202
how to define route url?

[2018-07-16 04:14] hailwood commented on #202
It's great to see you getting involved with Lighthouse!
The github issues are for bug reports, feature requests, and issues related to the development **of** Lighthouse.

For support related questions please join the Lighthouse Slack Community as outlined in the ["get involved" section of the readme.](https://github.com/nuwave/lighthouse#get-involved).

You'll receive a faster and more helpful res

[2018-07-16 06:13] #202 closed

[2018-07-17 01:43] hosmelq opened #204 "Use of method not available."
**Describe the bug**

Throw exception for the usage of [fromSub](https://github.com/nuwave/lighthouse/blob/46f9b8745e351d05754da530d9fc5590d6bbdb9a/src/Support/DataLoader/QueryBuilder.php#L118) method of the query builder, this method was added in [v5.6.12](https://github.com/laravel/framework/blob/5.6/CHANGELOG-5.6.md#v5612-2018-03-14).

**Environment**

Lighthouse Version: v2.2-alpha.1
Laravel V

[2018-07-17 06:08] maarten00 opened #205 "using @hasMany throws an error because $parent is not set"
**Describe the bug**
I want to retrieve a list of clubs using the hasMany directive, because I don't need pagination.
The `@paginate` directive works as expected, the `@hasMany` does not. It throws a 500 error on this query:

[code]
(The first query works, the second one throws the error)

**Expected behavior**
It should retrieve a list of clubs matching my arguments (or without any arguments) wit

[2018-07-17 07:56] spawnia commented on #205
Hey, thanks for reaching out.

**Solution**

Use the new `@all` directive, which simply retrieves all the models. I just made a PR
that enables filters to be used with it, should be merged into master soon. @chrissm79

**Explanation**

The `@hasMany` directive works for sub-fields of a type that corresponds to a model, e.g.:

[code]

Since you are trying to apply it on a root query field, i actual

[2018-07-17 08:01] spawnia commented on #204
Thanks for reaching out and for the excellent bug report!

I would still like to support Laravel 5.5 if possible. Do you think this can be worked around?

[2018-07-17 20:19] t2thec opened #208 "type input doesn't allow creation of new model"
I'm not sure if this is an issue, or lack of understanding from my part.

I have a mutation:

[code]

And my mutation
[code]

I get the error `SQLSTATE[HY000]: General error: 1 no such column: input.email (SQL: select count(*) as aggregate from \"users\" where "input"."email" = mruecker@example.net)`

If I don't use the `UserInput` and hard code the values in, all works as expected.

It seems that

[2018-07-17 20:40] #205 closed

[2018-07-17 20:42] spawnia commented on #208
The @create directive just passes in the given args directly to the `create()` of the Eloquent model. So if you use that, you will have to inline the args into the query.

I am currently working on a solution that will allow you to do nested mutations to create multiple models with one query. It works in such a way that the root query fields expect InputObjects, just like the one you defined.

You

[2018-07-17 20:43] #208 closed

[2018-07-17 20:50] spawnia commented on #204
Resolved by #209

[2018-07-17 20:50] t2thec commented on #208
Legendary. Thanks so much @spawnia . I will certainly check out that issue.

Cheers.

[2018-07-17 20:55] spawnia commented on #155
Tracking further progress of this in #184

This will require breaking changes, so it is on the agenda for 3.x

[2018-07-17 20:55] #155 closed

[2018-07-17 20:57] spawnia commented on #183
@webwisejordan Can you try updating to `dev-master` and see if your issue is resolved?

[2018-07-17 21:02] spawnia commented on #106
I really like the format of these "How would i" questions. Would be nice to get them worked in to the docs.

@hailwood you could really help improve the docs by adding some those in to the https://github.com/nuwave/lighthouse-docs repo

If you need help on getting started there, feel free to hit us up on Slack

[2018-07-17 21:04] spawnia commented on #98
@chrissm79 does #199 resolve this? If so, this will be in v2.2!

[2018-07-17 21:06] chrissm79 commented on #98
Indeed it does!! I've only tested it in GraphQL Playground but @TGNThump if you're still having issues let me know and we'll reopen and investigate!

[2018-07-17 21:06] #98 closed

[2018-07-17 21:07] hosmelq commented on #204
Hello @spawnia, sorry for late.

We have the same problem, `fromRaw` was added in the same version.

[2018-07-17 21:11] spawnia commented on #204
Any ideas how we can fix this in a nice way?

[2018-07-17 21:18] hosmelq commented on #204
This is the method we need.

[code]

What to you think about to monkeypatch with a macro ?

[2018-07-17 21:21] chrissm79 commented on #204
I'll have a PR for this shortly, found another method

[2018-07-17 21:31] chrissm79 commented on #204
@hosmelq Go ahead and pull down the latest from master and let me know if that last merged fixes things for you.

[2018-07-18 03:22] hosmelq commented on #204
Thank you, it is working 😄

[2018-07-18 03:22] #204 closed

[2018-07-18 07:50] jordyvandomselaar opened #212 "Possibility to use @globalId in custom directives"
I'm writing a custom directive to use with ID, but how do I decode a globalId to use in my query?

I have this code:
[code]

`id_contains: ID @contains @globalId`

But it doesn't seem to work. Am I missing anything?

[2018-07-18 14:07] chrissm79 commented on #212
@jordyvandomselaar We're currently working on a solution for this (#155 and #184). TLDR; the problem is [field](http://webonyx.github.io/graphql-php/type-system/object-types/#field-arguments) and [input](http://webonyx.github.io/graphql-php/type-system/object-types/#field-arguments) arguments don't have a `resolve` function so we're going to have to create a utility that pre-processes arguments to